<link rel="stylesheet" href="css/alt.css">

<h2>Search for events</h2>

<form id="eventSearch" action="#" method="post">
  <label for="keyword">Search</label>
  <input type="text" name="keyword" id="keyword" value="">
  <button>Search</button>
</form>

<h2 id="keywordSearch"></h2>
<div style="color: red">
  {{ flash }}
</div>
<img id="spinner"
data-speed="300" class="hidden" src="img/spinner.gif" alt="loading" width="30">
<ul id="searchResults">
</ul>
