<link rel="stylesheet" href="css/alt.css">

<h1>Search for events</h1>

<form id="eventSearch" action="#" method="post">
  <label for="keyword">Search</label>
  <input type="text" name="keyword" id="keyword" value="">
  <button>Search</button>
</form>

<h2 id="keywordSearch"></h2>
<img id="spinner"
data-speed="300" class="hidden" src="img/spinner.gif" alt="loading" width="30">
<section class="post" name="event[id]">
  <header class="post-header">
<ul id="searchResults">

</ul>
</header>
</section>
