<br><br><br><br>
<h3 class = 'red'>{{flash}}</h3>
<div class="l-box-lrg pure-u-1 pure-u-md-2-5">
  <form class="pure-form pure-form-stacked" action="/login" method="POST">
    <fieldset>
      <label for="authEmail">Email</label>
      <input id="authEmail" class="form-control" type="email" name="user[email]">

      <label for="authPassword">Password</label>
      <input id="authPassword" class="form-control" type="text" name="user[password]">

      <button type="submit" class="pure-button">Log in</button>
    </fieldset>
  </form>
</div>
