<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel='stylesheet' href='/style.css' type='text/css'>
  <title>Signup</title>
</head>
<body>
<div class="contain">


<form action="/auth/signup" method="POST">
  <div class="row">
    <label class="col s2 m6 offset-m3" for="authEmail">Email</label>
    <input id="authEmail" class="col s2 m6 offset-m3" type="email" name="email">

    <label class="col s2 m6 offset-m3" for="authName">Name</label>
    <input id="authName" class="col s2 m6 offset-m3" type="text" name="name">

    <label class="col s2 m6 offset-m3" for="authPassword">Password</label>
    <input id="authPassword" class="col s2 m6 offset-m3" type="password" name="password">

    <input class="red lighten-2 waves-effect waves-light col s2 m6 offset-m3 btn" type="submit">
  </div>
</form>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>
