<div class="auth">
  <h3>{{flash}}</h3>
    <form class="" action="/register" method="POST">
    <label for="authName">Name</label><br>
    <input id="authName" type="text" name="user[name]"><br>

    <label for="authEmail">Email</label><br>
    <input id="authEmail" type="email" name="user[email]"><br>

    <label for="authPassword">Password</label><br>
    <input id="authPassword" type="text" name="user[password]"><br>

    <button type="submit">Sign Up</button>
  </form>
</div>
