<form action="/register" method="post">
  <div class="form-group">
    <label for="authEmail">User</label>
    <input id="authEmail" class="form-control" type="text" name="user[name]">
  </div>

  <div class="form-group">
    <label for="authName">Email</label>
    <input id="authName" class="form-control" type="email" name="user[email]">
  </div>

  <div class="form-group">
    <label for="authOassword">Password</label>
    <input id="authPassword" class="form-control" type="text" name="user[password]">
  </div>

  <button>Submit</button>
</form>
