<h3>Book Details</h3>

<body class="bookDetailsContent">

  <img src="" alt="">
  <h3>Title</h3>
  <h4>Author: </h4>
  <h6>Publisher: </h6>
  <h6>Published Date: </h6>
  <p>Description...</p>
  <button type="button" name="button">READ</button>
</body>
