<link rel="stylesheet" href="css/alt.css">
<h2>View Github</h2>
<h2>View Gmail</h2>


<form id="eventSearch" action="#" method="post">
  <label for="keyword">Search</label>
  <input type="text" name="keyword" id="keyword" value="">

  <button>Search</button>
</form>

<h2 id="keywordSearch">Results for keyword</h2>
<img id="spinner"
data-speed="300" class="hidden" src="img/spinner.gif" alt="loading" width="30">
<ul id="searchResults">

</ul>
