<link rel="stylesheet" href="css/alt.css">

<a href="https://github.com/karl-x/project-2"><h1>View Github</h1></a>
<h2>View Gmail</h2>


<a  id="foxyform_embed_link_887575" href=""></a>
<script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://www.foxyform.com/js.php?id=887575&sec_hash=de8a307c59b&width=600px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
</script>


{{!-- /*<style>
form > input, form > textarea, form > label {
	display: block;
	margin-bottom: 5px;
}
</style>

<form name="contact" method="post">
	<label>Name</label>
	<input type="text" name="name" />
	<label>Subject</label>
	<input type="text" name="subject" />
	<label>Phone Number</label>
	<input type="text" name="phone" />
	<label>Message</label>
	<textarea name="message"></textarea>

	<input type="submit" name="send" value="Send Message" />
</form> --}}


	{{!-- var form = document.forms["contact"];
	form.addEventListener('submit',contact_submit,false);

	function contact_submit(e) {
		// Stop Form From Submitting
		e.preventDefault();

		// Set Initial Variables
		var target = e.target || e.srcElement;
		var to = 'jerald.yc.chua@gmail.com';
		var uri = 'mailto:' + to;
		var body = '';

		// Set Form Values to Variables
		var name = target.elements['name'].value;
		var subject = target.elements['subject'].value;
		var phone = target.elements['phone'].value;
		var message = target.elements['message'].value;

		// Build Body / Message with all Input Fields
		body += message + "\r\n\r\n";
		body += "Name: " + name + "\r\n";
		body += "Phone Number: " + phone + "\r\n";

		// Build final Mailto URI
		uri += '?subject=' + encodeURIComponent(subject);
		uri += '&body=' + encodeURIComponent(body);

		// Open Mailto in New Window / Tab
		window.open(uri,'_blank');
	} --}}
