<div class="row">
    <form class="col s12" method="POST" action="/admin/login">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="email" name="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">enhanced_encryption</i>
          <input id="password" type="password" name="password" class="validate">
          <label for="password" >Password</label>
        </div>
          <input class="btn black" type="submit">
      </div>
    </form>
  </div>

<ul class="collapsible" data-collapsible="accordion">
   <li>
     <div class="collapsible-header black white-text"><i class="material-icons">recent_actors</i>Admin Registration</div>
     <div class="collapsible-body">
       <div class="row">
           <form class="col s12" method="POST" action="/admin/register">
             <div class="row">
               <div class="input-field col s6">
                 <i class="material-icons prefix">accessibility</i>
                 <input  id="first_name" type="text" name="name" class="validate">
                 <label for="first_name">Name</label>
               </div>
             <div class="row">
               <div class="input-field col s6">
                 <i class="material-icons prefix">enhanced_encryption</i>
                 <input id="password" type="password" name="password" class="validate">
                 <label for="password">Password (Min 8 Characters)</label>
               </div>
             </div>
             <div class="row">
               <div class="input-field col s8">
                 <i class="material-icons prefix">account_circle</i>
                 <input id="email" type="email" name="email" class="validate">
                 <label for="email">Email</label>
               </div>
             </div>
             <div class="row">
             <div class="input-field col s12">
                <i class="material-icons prefix">domain</i>
                 <select name="dropdown">
                   <option value="none" disable selected>Choose your course (optional)</option>
                   <option value="Digitan Animation">Digital Animation</option>
                   <option value="Experience and Product Design">Experience And Product Design</option>
                   <option value="Games Design and Development">Games Design and Development</option>
                   <option value="Interior Design">Interior Design</option>
                   <option value="Media and Communication">Media and Communication</option>
                   <option value="Visual Communication and Media Design">Visual Communication and Media Design</option>
                   <option value="Visual Effects and Motion Graphics">Visual Effects and Motion Graphics</option>
                 </select>
                 <label>Course Preference</label>
               </div>
              </div>
             <div class="row">
               <div class="input-field col s6">
                 <i class="material-icons prefix">screen_lock_portrait</i>
                 <input id="adminCode" type="text" name="adminCode" class="validate">
                 <label for="adminCode">Admin Code</label>
               </div>
             </div>
             <div class="row">
               <input class="btn black" type="submit" value="Sign Up">
             </div>
           </form>
         </div>


     </div>
   </li>
 </ul>
