<div class="row">
    <form class="col s12" method="POST" action="/admin/login">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="email" name="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">enhanced_encryption</i>
          <input id="password" type="password" name="password" class="validate">
          <label for="password" >Password</label>
        </div>
          <input class="btn" type="submit">
      </div>
    </form>
  </div>

<ul class="collapsible" data-collapsible="accordion">
   <li>
     <div class="collapsible-header"><i class="material-icons">recent_actors</i>Admin Registration</div>
     <div class="collapsible-body">
       <div class="row">
           <form class="col s12" method="POST" action="/admin/register">
             <div class="row">
               <div class="input-field col s6">
                 <i class="material-icons prefix">accessibility</i>
                 <input  id="first_name" type="text" name="name" class="validate">
                 <label for="first_name">Name</label>
               </div>
             <div class="row">
               <div class="input-field col s6">
                 <i class="material-icons prefix">enhanced_encryption</i>
                 <input id="password" type="password" name="password" class="validate">
                 <label for="password">Password (Min 8 Characters)</label>
               </div>
             </div>
             <div class="row">
               <div class="input-field col s8">
                 <i class="material-icons prefix">account_circle</i>
                 <input id="email" type="email" name="email" class="validate">
                 <label for="email">Email</label>
               </div>
             </div>
             <div class="row">
               <div class="input-field col s6">
                 <i class="material-icons prefix">screen_lock_portrait</i>
                 <input id="adminCode" type="text" name="adminCode" class="validate">
                 <label for="adminCode">Admin Code</label>
               </div>
             </div>
             <div class="row">
               <input class="btn" type="submit" value="Sign Up">
             </div>
           </form>
         </div>


     </div>
   </li>
 </ul>
