<div class="container">
  <h2>Savings Account</h2>
</div>

<label for="name">name</label>
<input type="text" name="name" class="black-text">

<label for="bank_img">bank_img</label>
<input type="text" name="bank_img" class="black-text">

<label for="min_interest_rate">min_interest_rate</label>
<input type="number" name="min_interest_rate" class="black-text">

<label for="min_interest_rate">max_interest_rate</label>
<input type="number" name="min_interest_rate" class="black-text">

<label for="minimum_deposit">minimum_deposit</label>
<input type="text" name="minimum_deposit" class="black-text">

<label for="link">link</label>
<input type="text" name="link" class="black-text">

<label for="interest_rates">interest_rates</label>
<input type="text" name="interest_rates" class="black-text">

<label for="highlights">highlights</label>
<input type="text" name="highlights" class="black-text">

<label for="bonus_interest_rates">bonus_interest_rates</label>
<input type="text" name="bonus_interest_rates" class="black-text">
