{{!-- <% if (alerts.error) { %>
  <% alerts.error.forEach(function(msg) { %>
    <div class="alert alert-danger"><%= msg %></div>
  <% }); %>
<% } %>
<% if (alerts.success) { %>
  <% alerts.success.forEach(function(msg) { %>
    <div class="alert alert-success"><%= msg %></div>
  <% }); %>
<% } %> --}}


{{#if alerts }}
<p class="light-green-text text-accent-3 center">{{ alerts.success }}</p>
<p class="red-text text-accent-4 center">  {{ alerts.error }}</p>
<p class="orange-text text-darken-4 center">  {{ alerts.info }}</p>

{{/if}}
