<nav>
  <div class="nav-wrapper amber darken-3">
    <div class="container">
    <a href="/">Logo</a>
    <ul class="right hide-on-small-only">
      <li><a href="/">Home</a></li>
      <li><a href="/profile/5a4b9184d3eb105a222cc3dc">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
  </div>
</nav>
