<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Bfit</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if (!user){%>


        <ul class="nav navbar-nav pull-right">

          <li><a href="/auth/login">LogIn</a></li>
          <li><a href="/user/signup">SignUp</a></li>
        </ul>
        <%} else {%>
          <ul class="nav navbar-nav pull-left">
            <li><a href="/event">List All</a></li>
            <li><a href="/event/new">Create</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li><a href="/user/profile"><%=user.name%> / <%= user.email%></a></li>
            <li><a href="/auth/logout">LogOut</a></li>
          </ul>
          <%}%>

        </div>
      </div>
    </nav>
