<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <a class="navbar-brand" href="/" %>/dashboard">Homework Manager</a>
    <% if (currentUser) { %>

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-top">
          <% if (currentUser.role === "teacher") { %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/profile/<%= currentUser._id %>/dashboard">Dashboard</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/<%= currentUser._id %>">Profile</a>
            </li>
            <li>
              <a class="nav-link" href="/classroom">Add/Join Classes </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/assignment/create">Add Assignments </a>
            </li>
          </ul>
          <input class="btn btn-outline-success" type="submit" onclick="location.href='/auth/logout'" value="Log Out">
          <% } else if (currentUser.role === "student") {  %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/profile/<%= currentUser._id %>/dashboard">Dashboard</a>
              </li>
              <li>

              </li>
            </ul>
            <input class="btn btn-outline-success" type="submit" onclick="location.href='/auth/logout'" value="Log Out">
          <% } %>
          </div>

    <%  } %>
</nav>
