<h3> We're sad to see you go, please leave us feedback on how we can improve Buzz. </h3>

<form action="/partners/delete/{{user.id}}?_method=DELETE" method="post">

  <label for="Feedback"> Feedback/comments </label>
  <input type="text" name="feedback" placeholder="How can Buzz be better?">
  <button type="submit" name="button" id="delete">Delete my account</button>
</form>
