<h2> Partner account deletion</h2>

 <p>Thank you for your interest in Buzz, please let us know how we can improve. <br>If you would like to speak to an account representative, click <a href="#">here</a>. For faster correspondence, please call +65 61111111. </p>

  <form id="deleteForm" action="/partners/delete?_method=DELETE" method="POST">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Feedback/comments</label>
      <textarea class="form-control" form="deleteForm" rows="3"></textarea>
    </div>
  <button type="submit" name="button" id="delete">Delete my account</button>
</form>
