<form action="/partners/login" method="post">

  <h3> Welcome Buzz Partner </h3>
  <label for="email">Email</label>
  <input type="email" name="partner[email]" placeholder="e.g. email@domain.com">

  <label for="password">Password</label>
  <input type="password" name="partner[password]" placeholder="Your password">

  <button type="submit" name="button">Submit</button>
</form>
