<h1>{{fridge.name}} Fridge</h1>
<h1>{{fridge.passcode}}</h1>

<div class="btn dropup">
  <button type="button" class="btn btn-primary btn-circle btn-xl" onclick="location.href='/task/new'">
      +
  </button>
</div>
