<div class='container'>

  <h1>Classes</h1>

  <div class="row">
  <div class="col s12 m10">
    <div class="card ">
      <div class="card-image">
        <img src="https://images.unsplash.com/photo-1476763752342-d5cf7e5eb6cc?auto=format&fit=crop&w=3300&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        <span class="card-title">Water Color Painting</span>
        <a class="btn-floating halfway-fab waves-effect waves-light cyan pulse"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        </br>
        <p>Instructor : Tan Hock Seng, James </p>
      </div>
    </div>
  </div>
</div>



</div>
