<div class='container'>

  <h1>Welcome {{user.name}}</h1>

  <p class="flow-text">ArtyCraftyCourses is a platform for everyone to have an opportunity to share their art skills with those around.
    The continual exercise of imagination and discipline is the basis for a career in art. ArtCenter Fine Art students become equipped with the rigorous foundational skills they need to be highly adaptable visual problem-solvers who learn to pay particular attention to aesthetics and conceptual dexterity.

We foster a healthy fearlessness—experimentation, risk and complexity are embedded into the very fabric of student work. Such versatility and adaptability are paramount in preparing artists to excel in a continually changing global environment.

Our nationally and internationally recognized faculty works to create a program that is both broad in its scope of interests and small in class size to allow for a more one-on-one education. Our Fine Art program supports a spectrum of disciplines including drawing, painting, sculpture, installation, film/video, photography and digital imaging, as well as an array of art-and-design hybrids.
  </p>


  <h2> Current Courses</h2>
  <div class="row">
      <div class="col s6">
        <div class="card z-depth-5">
          <div class="card-image waves-effect waves-block waves-light ">
            <img class="activator" src="https://images.unsplash.com/photo-1461344577544-4e5dc9487184?auto=format&fit=crop&w=3300&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4 ">Painting<i class="material-icons right">more_vert</i></span>
            <p><a href="/classes">View Current Courses</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Painting<i class="material-icons right">close</i></span>
            <p>Painting is the practice of applying paint, pigment, color or other medium to a solid surface (support base). The medium is commonly applied to the base with a brush, but other implements, such as knives, sponges, and airbrushes, can be used. Painting is a mode of creative expression, and the forms are numerous..</p>
          </div>
        </div>
      </div>

      <div class="col s6">
        <div class="card z-depth-5">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://images.unsplash.com/photo-1481401908818-600b7a676c0d?auto=format&fit=crop&w=3302&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Pottery<i class="material-icons right">more_vert</i></span>
            <p><a href="/classes">View Current Courses</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Pttery<i class="material-icons right">close</i></span>
            <p>Pottery is made by forming a ceramic (often clay) body into objects of a required shape and heating them to high temperatures in a kiln which removes all the water from the clay, which induces reactions that lead to permanent changes including increasing their strength and hardening and setting their shape. A clay body can be decorated before or after firing; however, prior to some shaping processes, clay must be prepared. Kneading helps to ensure an even moisture content throughout the body. Air trapped within the clay body needs to be removed. This is called de-airing and can be accomplished either by a machine called a vacuum pug or manually by wedging. Wedging can also help produce an even moisture content. Once a clay body has been kneaded and de-aired or wedged, it is shaped by a variety of techniques. After shaping, it is dried and then fired.</p>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col s6">
      <div class="card z-depth-5">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://images.unsplash.com/photo-1493259606967-571afaef3d81?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Paper Crafting<i class="material-icons right">more_vert</i></span>
          <p><a href="/classes">View Current Courses</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Paper Crafting<i class="material-icons right">close</i></span>
          <p>Paper craft is the collection of art forms employing paper or card as the primary artistic medium for the creation of three-dimensional objects. It is the most widely used material in arts and crafts. It lends itself to a wide range of techniques, as it can for instance be folded, cut, glued, molded, stitched, or layered.[1] Papermaking by hand is also an important paper craft. Painting and calligraphy though they are commonly applied as decoration are normally considered as separate arts or crafts.</p>
        </div>
      </div>
    </div>
  </div>


















  </div>
