<div class="container">
<h1>Pending Courses</h1>
  <ul class="collection">
    {{#each output as |out|}}
    <li class="collection-item avatar">
      <img src="" alt="" class="circle">
      <span class="title">{{out.name}}</span>
      <p>{{out.description}} <br>
         {{count.out.currentStudents}} <br>
      </p>
      <a href="/course/{{out.slug}}" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  {{/each}}
  </ul>
</br>
  <div class="row">
  <div class="col s1">1</div>
  <div class="col s1">2</div>
  <div class="col s1">3</div>
  <div class="col s1">4</div>
  <div class="col s1">5</div>
  <div class="col s1">6</div>
  <div class="col s1">7</div>
  <div class="col s1">8</div>
  <div class="col s1">9</div>
  <div class="col s1">10</div>
  <div class="col s1">11</div>
  <div class="col s1">12</div>
</div>
</br>
  <div class="row">
    <form class="col s12" action="/pending" method="post">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" name="course[name]" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Name</label>
        </div>
      </div>
      <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">mode_edit</i>
         <textarea id="icon_prefix2" name="course[description]" class="materialize-textarea"></textarea>
         <label for="icon_prefix2">Description</label>
       </div>
     </div>
       <div class="row">
       <div class="input-field col s4">
         <i class="material-icons prefix">mode_edit</i>
         <textarea id="icon_prefix2" name="course[duration]" class="materialize-textarea"></textarea>
         <label for="icon_prefix2">Duration</label>
       </div>
     </div>
       <input type="text" name="course[date]" class="datepicker">
       <input type="text" name="course[time]" class="timepicker">
     <div class="row">
       <div class="input-field col s4">
         <i class="material-icons prefix">mode_edit</i>
         <textarea id="icon_prefix2" name="course[price]" class="materialize-textarea"></textarea>
         <label for="icon_prefix2">Price</label>
       </div>
     </div>
     <button class="btn waves-effect waves-light" type="submit" name="action">Submit
 <i class="material-icons right">send</i>
</button>
  </form>
</div>

 </div>
