<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fat Pocket</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>

    <nav
      class="navbar navbar-expand-lg navbar-light justify-content-between"
      style="background-color: #e3f2fd;"
    >
      {{!-- Remember that anything written here, will be displayed for all pages --}}
      <a class="navbar-brand mb-0 h1" href="/">Foodiez</a>

      {{!-- Navbar hamburger icon for responsive reasons --}}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {{!-- The actual navbar items --}}
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reviews">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/restaurants/new">New Restaurant</a>
          </li>

          {{!-- TODO: Show this <li class="nav-item">
           if user has logged in --}}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>

          {{!-- UPDATE AFTER 20 OCT --}}
          <li class="nav-item">
            <a class="nav-link" href="/search">Search Restaurant</a>
          </li>
        </ul>

    <div class="container-fluid">
      {{{ body }}}
    </div>
    <footer class="bd-footer text-muted">
      <div class="container-fluid p-3 p-md-5">
        <p class="text-center">Designed and built with all the ❤️&nbsp; in the 🌍&nbsp; by <a href="https://github.com/primaulia" target="_blank" rel="noopener">@primaulia</a>, and <a href="http://getbootstrap.com/" target="_blank">Bootstrap 4</a> 🚀</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="/assets/js/frontend.js" charset="utf-8"></script>
  </body>
</html>
