
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <title>Get Gigs. Make Good.</title>

    <h1>Make.Good</h1>

    {{{body}}}

    <script src="./js/frontend.js"></script>
  </body>
</html>
