<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">




  <title>POS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style/mainStyle.css">
</head>
<body>
  <!-- Fixed navbar -->
        <nav id="header" class="navbar navbar-top">
            <div id="header-container" class="container navbar-container navCont">
                <div class="navbar-header">

                    <a id="brand" class="navbar-brand" href="/">POS System</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Order</a></li>
                        <li><a href="/customers">Customers</a></li>
                        <li><a href="/items">Items</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->



        {{{ body }}}








</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="/javascript/main.js"></script>

</html>
