<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TV Show Tours</title>
  </head>
  <body>
    <a href='/'><h1>TV Show Tours</h1></a>
    <a href='/login'>login</a>
    <a href='/register'>register</a>
    <a href='/addnewshows'>Add Shows</a>

    {{{ body }}}

    <script src="./js/frontend.js"></script>
  </body>
</html>
