
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ParkWhereSia!?</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <h1> Park Where Sia!?</h1>
  <a href='/'>Home</a>
  <a href='/carparks'>Search Carparks</a>
  {{#if user }}
  <a href='/users/{{ user.id }}'>Favourite Carparks</a>
    <a href="/logout">Logout</a>
  {{/if}}
  {{#unless user}}
    <a href='/users/login'>Log In</a>
    <a href='/users/register'>Sign Up</a>
  {{/unless}}

  {{{ body }}}

  <footer>&copy;Park Where Sia!?</br>
      Contact Us</br>
      Email: ParkWhereSia@gmail.com</br>
      Address: 8 Claymore Hill
  </footer>
  <div class="modal">
  </div>
  <script src={{GOOGLE_KEY}}>
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/js/script.js" charset="utf-8"></script>
</body>

</html>
