<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pirated Trade Hero Wannabe</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <body>

      <nav
       class="navbar is-dark" role="navigation" aria-label="main navigation"

      >
        <div class="navbar-brand">

        <a class="navbar-item"  href="/">Investment Assistant</a>

        </div>

        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/summary">Summary</a>
            <a class="navbar-item" href="/positions">Stock Positions</a>

          </div>

          <div class="navbar-end">
            <a class="navbar-item" href="/users/register">Register</a>
            <a class="navbar-item" href="/users/login">Login</a>

          </div>
        </div>
      </nav>
      {{#if alerts.success}}
      {{#each alerts.success as |success|}}
        <div class="notification is-success">
          <button class="delete"></button>
          <strong>Success!</strong> {{success}}
        </div>
      {{/each}}
    {{/if}}

      {{#if alerts.error}}
            {{#each alerts.error as |error|}}
            <div class="notification is-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> {{error}}
            </div>
            {{/each}}
        {{/if}}

      <div >
      
        {{{ body }}}
      </div>
      <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
         Copyright 2017. API by <a href="https://www.alphavantage.co/">Alpha Vantage</a>
      </p>
    </div>
  </div>
</footer>





    <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js" charset="utf-8"></script>

  </body>
</html>
