<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Motivational Quotes</title>
  </head>
  <body>
    <h1><a href ="/">Get Inspired</a></h1>
    <ul>
      <li><a href="/quotes/collection">Explore Collection</a></li>
      {{#if user}}
      <li><a href="/quotes/addQuote">Add Quote</a></li>
      <li><a href="/profile/{{user.slug}}">{{ user.name }}</a></li>
      <li><a href="/logout">Logout</a></li>
      {{else}}
      <li><a href="/login">Log In</a></li>
      <li><a href="/register">Sign up</a></li>
      {{/if }}
    </ul>
    {{{ body }}}
  </body>
</html>
