<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Multi Business Locator</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheet/stylesheet.css">

</head>
<body>
  <nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
    <button class="button navbar-burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/result">Saved Results</a>
        <a class="navbar-item" href="/profile">Profile</a>
        <a class="navbar-item" href="/login">Login</a>
      </div>
    </div>
  </nav>

  <div class="container">
    {{{body}}}
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Created by <a href="https://github.com/chongct">chongct</a>.
        API by <a href="https://www.yelp.com.sg/singapore">Yelp</a>.
      </p>
    </div>
  </footer>

  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="javascript/main.js"></script>

</body>
</html>
