<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>| DoAP |</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheet/kube.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>

  
        {{#if errors}}
            {{#each errors as |e|}}
            <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> {{e.msg}}
            </div>
            {{/each}}
        {{/if}}


        {{#if alerts.error}}
            {{#each alerts.error as |e|}}
            <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> {{e}}
            </div>
            {{/each}}
        {{/if}}


        {{#if alerts.success}}
            {{#each alerts.success as |s|}}
            <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success</strong> {{s}}
            </div>
            {{/each}}
        {{/if}}


{{{body}}}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/script.js"></script>
<script src="js/kube.js"></script>

</body>
</html>
