<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Motivational Quotes</title>
    <link rel = "stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.css">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    {{! Start of CSS BULMA framework  }}
    <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="title is-primary logo"><img src="../../public/assets/img/lemon.png" alt="Lemon"></h1>
      </a>
      <div class="navbar-burger burger" data-target="navMenuTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenuTransparentExample" class="navbar-menu is-active">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item" href="/quotes/collection">Explore</a>
          {{#if user}}
          <a class="navbar-item" href="/quotes/addQuote">Add Quote</a>
          {{/if }}
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          {{#if user}}
          <a class="navbar-item" href="/profile/{{user.slug}}">{{ user.name }}</a>
          <a class="navbar-item" href="/logout">Logout</a>
          {{else}}
          <a class="navbar-item" href="/login">Log In</a>
          <a class="navbar-item" href="/register">Sign up</a>
          {{/if }}
        </div>
      </div>
    </div>
  </nav>
  {{{ body }}}
</body>
</html>
