<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TV Show Tours</title>
  </head>
  <body>
    <a href='/'><h1>TV Show Tours</h1></a>
    {{#if user}}
      <a href='/addtvshows'>Add TV Shows</a>
      <a href='/addtours'>Add Tours</a>
      <a href='/logout'>Logout</a>
      <h3>Logged in as {{ user.name }}</h3>
    {{else}}
      <a href='/login'>login</a>
      <a href='/register'>register</a>
    {{/if}}

    {{{ body }}}

    <script src="./js/frontend.js"></script>
  </body>
</html>
