<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {{title}} </title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>

      {{#if user}}
      <a href="/board">Kanban Board</a>
      <!-- <a href="/manageTasks">Manage Tasks</a> -->
      <a href="/manageProject">Manage Project</a>
      <a class="nav-link" href="/profile">{{ user.name }}</a>
      <a class="nav-link" href="/logout">Logout</a>
      {{else}}
      <a class="nav-link" href="/register">Register</a>
      <a class="nav-link" href="/login">Login</a>
      {{/if}}
    </nav>
    {{{ body }}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
    <!-- add scripts -->
    <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>
