<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <a href="/"><h1>Homepage</h1></a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>

    {{{ body }}}
  </body>
</html>
