
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Get Gigs. Make Good.</title>
  </head>
  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link" href="/">Gigs</a></li>
    <li class="nav-item"><a class="nav-link" href="/peeps">Peeps</a></li>
    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>


    {{!-- Logged In --}}
    {{#if user}}
    <li class="nav-item"><a class="nav-link" href="/profile/{{user.slug}}">{{user.name}}</a></li>
    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>

    {{else}}
    {{!-- Not Logged In --}}
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
    {{/if}}
</ul>
  </div>
</nav>


    <h1>GotGigs?</h1>

    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="js/frontend.js"></script>
  </body>
</html>
