<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Conso</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  </head>
  <body>

    <ul class="nav nav-pills">

      {{#if user}}

        <li class="nav-item">
          <a class="nav-link active" href="#">Conso</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/components/showall">View Components</a>
        </li>

        {{#if user.isAdmin}}
        <li class="nav-item">
          <a class="nav-link" href="/components/summary">Summary</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/components/variables">Set variables</a>
        </li>
        {{/if}}

        <li class="nav-item">
          <a class="nav-link disabled" href="/logout">Logout</a>
        </li>
        {{/if}}

  {{#unless user}}
  <li class="nav-item">
    <a class="nav-link" href="/register">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>
  {{/unless}}


</ul>
<div class="container-fluid">

  {{{body}}}

</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
  </body>
</html>
