

body{
  margin: 0;
  padding: 0;
  background-color: #D7CEC7 !important;
}

footer {
    padding: 30px 0;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
    background-color: #FFFFFF;
    width: 100vw;
    margin: 0 !important;
}

.navbar-brand.fixed-theme {
    font-size: 32px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.customerBox {
  background-color: #D7CEC7;
  height: 150px;
  width: 95%;
  margin: 10px auto;
  padding: 5px;
  color: #76323F;
  font-size: 14px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 3px solid #fff;
  border-radius: 10px;
}



.leftTitles{
  text-align: left;
  color: #FFF;
  font-size: 20px;
  background-color: #76323F;
  padding: 5px 0 5px 15px;
  width: 100%;
  height: 40px;
}

.rightTitles{
  text-align: left;
  color: #FFF;
  font-size: 20px;
  background-color: #76323F;
  padding: 5px 0 5px 15px;
  width: 100%;
  height: 40px;
}


.mainCont{
  display: flex;
  padding: 0 !important;
  margin: auto !important;
  justify-content: center;
}

.rightView{
  display: flex;
  background-color: #565656;
  min-height: 78vh;
  width: 300px;
  /* flex-wrap: wrap; */
}

.leftView{
  display: flex;
  background-color: #565656;
  min-height: 78vh;
  width: 750px;
  margin-right: 10px;
  flex-wrap: wrap;
  justify-content: center;

}

.navCont{
  background-color: #FFFFFF;
  padding: 0px 30px 0px 30px !important;
  margin: 0 !important;
  width: 100% !important;
}


#header{
  border: 0 !important;
}

#brand{
  /* This is for the title of the page */
  color: #565656;
}


a:visited {
    color: #76323F;
}

a{

}


.itemBox{
  min-width: 160px;
  min-height: 160px;
  text-align: center;
  background-color: #D7CEC7;
  margin: 5px;
  padding: 5px;
  color: #76323F;
  font-size: 14px;
  /* flex: 1; */

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 3px solid #fff;
  border-radius: 10px;
  flex-wrap: wrap;
}

.leftCont{
  width: 750px;
  margin-right: 15px;
}

.rightCont{
  width: 300px;
  margin-left: 15px;
}

.addQuantity{
  /* This is the width of the number input inside order's singleitem */
  width: 3em;
}

.singleItem{
  /* This defo has to change */
  border: 3px solid #000;
  background-color: white;
  width: 200px;
  height: 100px;
}
