<h1>Modify Item Information</h1>

<div class="container">
  <form method='POST' action='/interface/item/edit/<%= item._id %>?_method=PUT'>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="name" value="<%= item.name%>">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" name="description" value="<%= item.description%>">
    </div>
    <div class="form-group">
      <label for="description">Image Link:</label>
      <input type="text" class="form-control" name="imagelink" value="<%= item.imagelink%>">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <br>
</div>
</body>
</html>