<a href="/students/studentRequestView">Sent Requests</a><br>

<nav class="navbar ">

<div id="navMenuExample" class="navbar-menu">
  <div class="navbar-start">
    <div class="navbar-item is-hoverable">
      <a class="navbar-link  is-active" href="/documentation/overview/start/">
        Docs
      </a>

    </div>

    <a class="navbar-item " href="http://bulma.io/expo/">
      Expo
    </a>
    <a class="navbar-item " href="http://bulma.io/love/">
      <span class="emoji">❤️</span>
      Love
    </a>
  </div>

  <div class="navbar-end">
    <a class="navbar-item is-hidden-desktop-only" href="https://github.com/jgthms/bulma" target="_blank">
      Github
    </a>
    <a class="navbar-item is-hidden-desktop-only" href="https://twitter.com/jgthms" target="_blank">
      Twitter
    </a>
    <div class="navbar-item">
      <div class="field is-grouped">
        <p class="control">
          <a class="tw-button button"
data-social-network="Twitter"
data-social-action="tweet"
data-social-target="http://bulma.io"
target="_blank"
href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&hashtags=bulmaio&url=http://bulma.io&via=jgthms">
<span class="icon">
  <i class="fa fa-twitter"></i>
</span>
<span>
  Tweet
</span>
</a>
        </p>
        <p class="control">
          <a class="button is-primary" href="https://github.com/jgthms/bulma/archive/0.5.0.zip">
            <span class="icon">
              <i class="fa fa-download"></i>
            </span>
            <span>Download</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
</nav>

  <form action="/students/searchTeacher" method="post">
      <label>Search teachers by subject</label>
      <select name="searchField">
        <option value="English">English</option>
        <option value="Math">Math</option>
        <option value="Science">Science</option>
      </select>

      <button id="searchButton">Search</button>

  </form>

<div class="teacherList">
    {{#each teachers as |teacher|}}
    <ul id="allTeachers">

    </ul>
    {{/each}}
</div>
