<h1>Add Places</h1>
<form id="textSearchForm" action="#" method="post">
  <input id="textSearchInput" type="text" name="keyword" placeholder="insert query here">
  <button>submit</button>
</form>
{{!-- <button id="test">test</button> --}}
<select id="selectedTrip" name="trips">
    <option value="" disabled selected>Select a Trip</option>
    {{#each theUser.trips as |trip|}}
      <option value="{{trip.id}}">{{trip.name}}</option>
    {{/each}}
  </select>
<select id="selectedDate" name="date">
    <option value="" disabled selected>Select a Date</option>
  </select><br><br>
<div id="map">
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPPIJi451Gb2Ee2ehiwOiar1HtiE10UGg&&libraries=places">
</script>
