<% include ../partials/header %>

<h1>Edit Review Page</h1>

<form action="/review/edit" method="POST">

  <div>
    <label for="title">Title</label>
    <input id="title" type="text" name="title" value="Chicken Rice very nice">
  </div>

<div>
    <label for="location">Location</label>
    <input id="location" type="text" name="location" value="Singapore">
  </div>


<div>
    <label for="review">Review</label>
    <textarea id="review" class="materialize-textarea" name="review">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam reiciendis, atque id quasi fuga quam beatae repudiandae error ea suscipit voluptatem accusamus earum impedit vel, ab optio possimus nesciunt eius.</textarea>
  </div>


<div class="row">
  <div class="input-field col s6">
<select name="quality">
  <option value="" disabled>Choose your option</option>
  <option value="1">1 Star (Not so nice)</option>
  <option value="2">2 Star</option>
  <option value="3" selected>3 Star</option>
  <option value="2">4 Star</option>
  <option value="3">5 Star (Delicious)</option>
</select>
<label>Quality</label>
</div>
</div>

<div class="row">
  <div class="input-field col s6">
<select name="quantity">
  <option value="" disabled>Choose your option</option>
  <option value="1">1 Star (A little bit)</option>
  <option value="2">2 Star</option>
  <option value="3" selected>3 Star</option>
  <option value="2">4 Star</option>
  <option value="3">5 Star (Mountain high)</option>
</select>
<label>Quantity</label>
</div>
</div>

<div class="row">
  <div class="input-field col s6">
<select name="price">
  <option value="" disabled>Choose your option</option>
  <option value="1">1 Star (Very pricey)</option>
  <option value="2">2 Star</option>
  <option value="3" selected>3 Star</option>
  <option value="2">4 Star</option>
  <option value="3">5 Star (Affordable)</option>
</select>
<label>Price</label>
</div>
</div>


<button type="submit" class="waves-effect waves-light btn">Save</button>
</form>

<% include ../partials/footer %>
