<h3>Cost Summary</h3>
<div class="content table-responsive table-full-width">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Total Cost</th>
      </tr>
    </thead>
    <tbody>

    {{#each components as |compo|}}

      <tr>
        <td>{{ compo._id}}</td>
        <td>{{ compo.subtotalCost }}</td>
        {{/each}}
      </tr>
      <tr>
        <td>Total</td>
        <td>{{totalCost}}</td>
      </tr>
    </tbody>

  </table>
</div>
