<h3>Add new cost component</h3>

<form action="/components" method="post">

  <label for="name">Name</label>
  <input type="text" name="name">

  <label for="description">Description</label>
  <input type="text" name="description">

  <label for="vendor">Vendor</label>
  <input type="text" name="vendor">

  <label for="unit_cost">Unit cost</label>
  <input type="text" name="unit_cost">

  <label for="quantity">Quantity</label>
  <input type="text" name="quantity">

  <button type="submit" name="button">Submit</button>
</form>
