<h3>Add new cost component</h3>

<form action="/components" method="post">

  <label for="name">Name</label>
  <input type="text" name="name">

  <label for="description">Description</label>
  <input type="text" name="description">

  <label for="vendor">Vendor</label>
  <input type="text" name="vendor">

  <label for="type">Type</label>
    <select name="type">
      {{#each types as |type|}}
      <option value = "{{type.id}}">{{type.name}}</option>
      {{/each}}
    </select>


  <label for="unit_cost">Unit cost</label>
  <input type="number" name="unit_cost">

  <label for="quantity">Quantity</label>
  <input type="number" name="quantity">

  <button type="submit" name="button">Submit</button>
</form>
