<h3>Summary</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Total Cost</th>
      </tr>
    </thead>

    {{#each components as |compo|}}

    <tbody>
      <tr>
        <td>{{ compo._id}}</td>
        <td>{{ compo.subtotalCost }}</td>
        {{/each}}
      </tr>
      <tr>
        <td>Total</td>
        <td>{{totalCost}}</td>
      </tr>
    </tbody>


</table>
