<h3>Set variables</h3>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Margin</th>
        <th scope="col"></th>
      </tr>
    </thead>
{{#each types as |type|}}
<form action="/components/variables?_method=PUT" method="post">

<tbody>
  <tr>
    <td>
{{type.name}}
</td>
<td>
  <input type="hidden" name="id" value ="{{type.id}}">
  <input type="number" name="margin" value ="{{type.margin}}">
</td>
<td>
<button type="submit" name="button">Update</button>
</td>
</tr>
</tbody>
</form>
{{/each}}
</table>
