<h4>This page will tell you how to use this app :) </h4>

<div class = 'postProfile'>
  <h2>POST YOUR PROFILE!</h2>
</div>

<div class = 'postGig'>
  <h2>POST A GIG!</h2>
</div>

  <a href="/" class="btn">Browse Gigs</a>
