<div class="jumbotron">
  <h2>About MeowMeowBeenz™</h2>
  <img id='abtMMB' src ="assets/abtMMB.jpg" />
</div>
<blockquote>
  <p>MeowMeowBeenz™ takes everything subjective and unspoken about human interaction and reduces it to explicit, objective numbers. I've never felt so alive.</p>
  <footer>Abed Nadir</footer>
</blockquote>
<p id="paragraphMMB">MeowMeowBeenz™ is a social networking application created by developers David and Bixel from the company jammyPow™, and the idea was stolen by yours truly in order to implement my second project. <br /><br />It is a software downloadable for mobile devices whose purpose was to allow its users to assign a rank to anything. The range would be a scale of one to five with with five being the best score possible and one being the worst.</p>
