<div class="container">

  <h3>{{ account.sa.name }}</h3>

  <ul>
    <img src="{{ account.sa.bank_img }}" height="150">

    <li>Amount Invested: ${{ account.amount }}</li>

    <li>Returns: ${{ account.returns }}</li>

  </ul>

<br>
<br>

</div>
