<div class="container">

    <form  class="form-horizontal" action="/classroom/add" method="POST">
      <h3>  Create Classroom </h3>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Name of Class:</label>
        <div class="col-sm-3">
          <input id="name" class="form-control" type="text" name="name">
        </div>
        <label class="col-sm-2 control-label" for="name">School:</label>
        <div class="col-sm-3">
          <input id="name" class="form-control" type="text" name="school_name" value="<%= result[0].name %>">
          <input id="name" class="form-control" type="hidden" name="school" value="<%= result[0]._id %>">
        </div>
        <input class="col-sm-2 btn btn-primary" type="submit" value="Submit">
      </div>
    </form>
  </div>
