<div class="container">
  <h4>Current classes listed from your school : </h4>
  <div class="d-inline-flex flex-wrap">
    <% classrooms.forEach(function (classroom) { %>
    <div class="card card-outline-success my-3 mr-1 text-center">
      <div class="card-block">
        <h5 class="card-title"><%= classroom.name %></h5>
        <form action="/classroom/<%= classroom._id %>?_method=PUT" method="POST">
          <input type="hidden" value="<%= classroom._id %>" name="_id">
          <button type="submit" class="btn btn-success btn-block">Join class</button>
        </form>
      </div>
    </div>
    <% }) %>
  </div>

  <h4 class="mt-4">Add class : </h4>
  <form class="form-inline mt-3" action="/classroom/add" method="POST">
    <div class="form-group">
    <input type="text" class="form-control mr-1" name="name" placeholder="Enter Name of Class">
  </div>
    <input type="hidden" class="form-control mr-1" name="school" value="<%= currentUser.school %>">
    <div class="form-group">
      <button type="submit" class="btn btn-primary ml-2">Submit</button>
    </div>
  </form>
</div>
