<div class="container">
  <form action="addclass" method="POST">
    <div class="form-group">
      <label for="name">Name of Class:</label>
      <input id="name" class="form-control" type="text" name="name">
    </div>
    <div class="form-group">
      <label for="name">School:</label>
      <input id="name" class="form-control" type="text" name="school" value="<%= currentUser.school %>" > </input>
    </div>
    <div class="form-group">
      <input type="submit" value="Submit">
    </div>

  </form>


</div>
