<h2>Add New Tours</h2>
{{!-- if i go to /register, it will save new user instead --}}
<form action="/addnewtours" method="post">
  {{!-- no need name here, cos we're logging in --}}

  <label for="Overview">Overview</label>
  {{!-- NOTICE on the attribute type below  --}}
  <input type="text" name="show" placeholder="Name of Show">

  <label for="password">Password</label>
  {{!-- NOTICE on the attribute type below  --}}
  <input type="password" name="user[password]" placeholder="happy password">

  <button type="submit" name="button">Submit</button>
</form>
