<h2>Portfolio</h2>
<canvas id="myChart" width="20" height="20"></canvas>

<table class="table table-hover table-sm" id="assetClassTable">
 
  <thead class="thead-default">
    <tr>
      <th>Asset Class</th>
      <th>Total investment</th>
     

    </tr>
  </thead>

{{#each assetClassPosition as |ap|}}
  <tbody>
    <tr>
      <td>{{ ap._id }}</td>
      <td id ='{{ap._id}}'>{{ ap.total }}</td>
    </tr>
  </tbody>
{{/each}}

</table>
