<div class="container">
  <h1> <%= classroom.name %> Bulletin </h1>
  <nav class="navbar fixed-top navbar-light bg-faded">
    <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/dashboard">Dashboard</a></li>
      <li class="active"><a href="assignment/create">Create Assignment</a></li>
    </ul>
  </div>
  </nav>





</div>
