<img id='map' src='https://maps.googleapis.com/maps/api/staticmap?center={{country.name}}&zoom=11&size=600x500&key=AIzaSyDJSyfAjBCiwCtwd27p7oIrMeV8ggpj5IE' ></img>

<div class="chart-container" style="position: relative; height:70vh; width:50vw">
  <br><br><br>
  <canvas id="myChart"></canvas>
  <img id="Up1" src="images/Up.png" height="42" width="42">
</div>
