<script>
  var upvotesTotal = [{{{country.upvotes}}}]
  var downvotesTotal = [{{{country.downvotes}}}]
  var commentsTotal = [{{{country.comments}}}]
</script>

<div class="chart-container" style="position: relative; height:70vh; width:60vw">
  <br><br><br>
  <canvas id="myChart"></canvas>
  <img id="Up1" src="images/Up.png" height="42" width="42">
</div>
