<div class="chart-container" style="position: relative; height:60vh; width:50vw">
  <br><br><br>
  <canvas id="myChart"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="js/graph.js"></script>
</div>
