<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/query/create" method="POST">
    <div class="form-group">
      <label for="routeNo">Select Route</label>
      <select name='ServiceNo'>
        <% bus.forEach(function(elem){ %>
          <option name='ServiceNo'><%=elem.ServiceNo%></option>
        <%})%>
      </select>

    </div>

    <div class="form-group">
      <label for="BusStopID">Enter Bus Stop</label>
      <select name='BusStopID'>
        <% stop.forEach(function(elem){ %>
          <option name='ServiceNo'><%=elem.BusStopID%></option>
        <% })%>
      </select>

    </div>

    <input class="btn btn-primary" type="submit">
  </form>

</body>
</html>
