<% var classroomList = currentUser.classroom %>

<div class="container">
<h1>Create New Assignment</h1>
<form action="/assignment/create" method="POST">
  <div class="form-group">
    <div class="radio-inline">
      <label><input type="radio" name="a_type" value="online">Online Assignment</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="a_type" value="offline">Offline Assignment</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="a_type" value="test">Test</label>
    </div>
  </div>
<div class="form-group">
  <div class="col-sm-4"><label for="due_date">Due Date</label></div>
  <div class="col-sm-4"><label for="classroom">Classroom</label></div>
  <div class="col-sm-4"><label for="est_time">Estimated Time to complete</label></div>
</div>

<div class="form-group">
  <div class="col-sm-4"><input type="date" class="form-control" name="due_date"></div>
  <div class="col-sm-4"><input type="text" class="form-control" name="classroom"></div>
  <div class="input-group col-sm-3"><input type="text" class="form-control" name="est_time"><span class="input-group-addon">hrs</span></div>
</div>

<div class="form-group">
  <div class="col-sm-12"><label for="title">Title</label></div>
</div>

<div class="form-group">
    <div class="col-sm-12"><input type="text" class="form-control" name="title"></div>
</div>


  <div class="form-group">
  <div class="col-sm-12"><label for="description">Description</label><textarea class="form-control" rows="5" name="description"></textarea> </div>
  </div>

<div class="form-group">
  <div class="col-sm-2"><input class="form-control btn btn-primary" type="submit" value="Submit"></div>
</div>

</form>
</div>
