<form method='POST' action='/dashboard/profile/create' enctype='multipart/form-data'>
  <h1>Tailor your profile!</h1>
  <div class="form-group">
    <label for="exampleInputDescrib">Description</label>
    <input type="text" class="form-control" name="description" placeholder="short description of yourself">
  </div>
  <div class="form-group">
    <label class="btn btn-file btn-primary" for="exampleInputFile">Upload a profile picture!<input type="file" name="avatar"></label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
