<form method='POST' action='/dashboard/profile/edit?_method=PUT' enctype='multipart/form-data'>
  <h3>Edit your profile!</h3>
  <h4>Not perfect enough?? It's okay! you can spend the entire day curating your profile here!!</h4>
  <div class="form-group">
    <label for="exampleInputDescrib">Edit your description</label>
    <input type="text" class="form-control" name="description" placeholder="write a quotable quote about yourself, something like YOLO, didnt read or 'POP-POP!'">
  </div>
  <div class="form-group">
    <label for="file-upload" id=uploadComplete>Change your profile picture!<input id="file-upload" type="file" name="avatar"></label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
