
    <div class="mx-auto" style="width: 200px;">
      <h2 style="margin-top: 20px">Search Gigs</h2>
      <label for="searchInput">Search: </label>
      <input id="searchGigs" type="text">
    </div>
  </div>
<div class = "container" style="margin-top: 20px">
<h3>Search Results</h3>
<div class="row" id="searchGigsResults">
</div>
</div>

<div class = "container" id = "allGigCards">
<div class="row">

{{#each gig}}
<div class="col-4">
<div class="card" style="margin-bottom: 20px">
  <div class="card-body">
    <h4 class="card-title">{{{this.name}}}</h4>
    <p class="card-text"> {{this.wage}} {{this.author.name}}</p>
    <a href="/gigs/{{this.slug}}" class="gig-link">See more!</a>
  </div>
</div>
</div>
{{/each}}

</div>
</div>
