<h2>Hello <span id='nametochange'>kawan kawan</span>,</h2>

<p> where are you driving to? </p>

<form id="carparkSearch" action="/" method="post">
  <label>
    <input type="text" name="keyword" placeholder="location" id="keyword">
  </label>
  <button>park where sia!?</button>
</form>

<div id="map"></div>
<ul id="searchResults">
</ul>
