<body class="sidebar-collapse">

  <!-- Wrapper -->
  <div class="wrapper">
      <div class="page-header clear-filter" filter-color="black">
          <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/ilya-yakover.jpg');"></div>

          <div class="container">
              <div class="content-center">
                  <h1 class="title text-center">Travel Route</h1>
                  {{!-- <h3 class="category">v1.0.0</h3> --}}
                  <h4 class="description text-center">Introducing the simple way to view beautiful itineraries from across.</h4>
                  <a href="/search" class="btn btn-primary btn-lg btn-round">View Routes  <i class="ion-android-happy"></i></a>
              </div>

              <footer class="footer">
                <div class="d-flex justify-content-center">
                  Designed by&nbsp;
                  <a href="https://github.com/heyzernut" target="_blank">Hazel Toh</a> &nbsp;|&nbsp;Builded by&nbsp;
                  <a href="http://getbootstrap.com/" target="_blank"> Bootstrap 4</a>&nbsp;<i class="ion-android-favorite-outline"></i>
                </div>
              </footer>
          </div>
      </div>
  </div>
  <!-- End Wrapper -->

</div>
