
<div class="page-header">
	<div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/cover.jpg');"></div>
	<div class="container">
		<div class="content-center">
			<h1 class="h1-seo">We provide you a list of vegetable suppliers</h1>
			<h2>Click below to sign up !</h2>
			<a href="/register" class="btn bg-warning">Sign Up</a>
		</div>

	</div>
</div>
