<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Home</h2>
  <div>
    <ul>
    <% var busVal = bus;
    for(var i=0;i<busVal.length;i++){ %>
      <li>Bus No : <%=busVal[i].ServiceNo %></li>
      <li>Bus Stop no : <%=busVal[i].BusStopID %></li>
      <a href=<%='/query/view/'+busVal[i]._id%>> View </a>
      <a href=<%='/query/delete/'+busVal[i]._id%>> Remove </a>
      <% } %>
    </ul>
</div>
  <a href="/query/create">Add a new Route</a>
  <a href="/auth/logout">Logout</a>


</body>
</html>
