
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center black-text">Get the Best Deals on
Bank Accounts, Credit Cards & Investments</h1>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="/assets/img/sg-skyline-sunset.jpg"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">compare</i></h2>
          <h5 class="center">Compare Easily</h5>

          <p class="light">Compare account and card benefits side-by-side and discover promotions you might have missed.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">attach_money</i></h2>
          <h5 class="center">Hassle Free Application</h5>

          <p class="light">Apply hassle free online or get the bank to contact you with more details.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">search</i></h2>
          <h5 class="center">Clear Assets Overview</h5>

          <p class="light">Clear overview of your net assets.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="banks"><img src="/assets/img/banks.png" width="100%"></div>

<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://cashchanger.co/static/public/previewimage/sgd.jpg">
        <div class="caption right-align">
          <h3 class="black-text"><strong>Cash!</strong></h3>
          <h5 class="black-text"><strong>Money Money Money.</strong></h5>
        </div>
      </li>
      <li>
        <img src="https://www.gameacademy.com/wp-content/uploads/2013/10/credit-cards.jpg">
        <div class="caption center-align">
          <h3><strong>Credit Cards!</strong></h3>
          <h5 class="light grey-text text-lighten-3"><strong>Swipe Swipe Swipe.</strong></h5>
        </div>
      </li>
      <li>
        <img src="https://44u8552epjw3rivfs1yfikr1-wpengine.netdna-ssl.com/wp-content/uploads/2017/03/Stock-market-screen.jpg">
        <div class="caption right-align">
          <h3><strong>Investment</strong></h3>
          <h5 class="light grey-text text-lighten-3"><strong>Boom Boom Boom.</strong></h5>
        </div>
      </li>
    </ul>
  </div>
