{{!-- Landing Page --}}

<div id="wrapper">
    <header>
        <section>
            <ul class="icons" id="social-icons">
                <a href="/" class="logone"><b>DoAP</b></a>

                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
                    <a href="https://www.instagram.com" class="fa fa-instagram"></a>

                    <nav id="breadcrumbs-custom-separator" class="breadcrumbs">
                        <ul class="floatright">

                            <li class="current"><a href="/">Home</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">Sign Up</a></li>
                            <li><a href="/welcome">Welcome</a></li>
                            <li><a href="/new">Dogs</a></li>
                            <li><a href="/report">Report</a></li>
                            <li><a href="/logout">Logout</a></li>

                            <div class="search">
                            <a href="/search"><i class="fa fa-search"></i></a>
                          </div>
                        </ul>
                    </nav>
                </ul>
            </section>
        </header>
    </div>


<section id="content-one" class="doglook">
    <div class="doglook-content">
        <h2>Dogs are one of the most common pets in the world.</h2>
        <a href="#content-four" class="btn">Read More</a>
    </div>
</section>


<section id="content-two">

</section>

<section id="content-three">

</section>


<section id="subscribe">
    <form action="/users/subscribe" method="post">
        <h3>Newsletter</h3>
        <div>
            <input class="subscribe-email" type="email" id="sub-email" name="sub-email" placeholder="Enter Email Address" required>
            <button type="submit" id="subscribe-submit"><i class="fa fa-envelope"></i></button>
        </div>
    </form>
</section>



<section id="content-four">
        <form method="post" action="/users/contactus">
            <h3>Contact Us</h3>
            <p>Let Us Know How We Can Assist You.</p>

            <div>
                <input type="text" class="text" name="name" placeholder="Name">
            </div>

            <div>
                <input type="email" class="text" name="email" placeholder="Email">
            </div>

            <div>
                <input type="tel" class="phone" name="email" placeholder="Phone">
            </div>

            <div class="row-message">
                <textarea name="message" placeholder="Message"></textarea>
            </div><br/>

            <input type="submit" name="send" value="Send"><br/>
            <div class="contact-info">
                <p><i class="fa fa-envelope"></i><a href="mailto:someone@example.com">email@doap.com</a></p>
                <p><i class="fa fa-phone"></i>+65 3456 7890</p>
                <p><i class="fa fa-map-marker"></i>15-01 Bond House</p>
            </div>
    </form>
</section>


<footer>
    <a href="https://github.com/emjys/project-2"><strong>DoAP</strong></a>
    &nbsp&copy 2017 &nbsp | &nbsp All Rights Reserved &nbsp | &nbsp

    <a href="/" class="page-scroll">Back to Top<span class="fa fa-angle-up"></span></a>
</footer>
