{{!-- Landing Page --}}

<section id="content-one" class="doglook">
    <div class="doglook-content">
        <h2>Dogs are one of the most common pets in the world.</h2>
        <a href="#content-four" class="btn">Read More</a>
    </div>
</section>


<section id="subscribe" class="grid">
    <form action="/users/subscribe" method="post">
        <h3>Newsletter</h3>
        <div>
            <input class="subscribe-email" type="email" id="sub-email" name="sub-email" placeholder="Enter Email Address" required>
            <button type="submit" id="subscribe-submit"><i class="fa fa-envelope"></i></button>
        </div>
    </form>
</section>



<section id="content-four" class="grid">
        <form method="post" action="/users/contactus">
            <h3>Contact Us</h3>
            <p>Let Us Know How We Can Assist You.</p>

            <div>
                <input type="text" class="text" name="name" placeholder="Name">
            </div>

            <div>
                <input type="email" class="text" name="email" placeholder="Email">
            </div>

            <div>
                <input type="tel" class="phone" name="email" placeholder="Phone">
            </div>

            <div class="row-message">
                <textarea name="message" placeholder="Message"></textarea>
            </div><br/>

            <input type="submit" name="send" value="Send"><br/>
            <div class="contact-info">
                <p><i class="fa fa-envelope"></i><a href="mailto:someone@example.com">email@doap.com</a></p>
                <p><i class="fa fa-phone"></i>+65 3456 7890</p>
                <p><i class="fa fa-map-marker"></i>15-01 Bond House</p>
            </div>
    </form>
</section>


<footer>
    <a href="https://github.com/emjys/project-2"><strong>DoAP</strong></a>
    &nbsp&copy 2017 &nbsp | &nbsp All Rights Reserved &nbsp | &nbsp

    <a href="/" class="page-scroll">Back to Top<span class="fa fa-angle-up"></span></a>
</footer>
