
<h1> Peace of mind travelling? Piece of cake. </h1>
<div class="row">
  <div class="col-7">
    <img src="/assets/pictures/bus_aisle.jpg" class="img-thumbnail" alt="Bus aisle with passengers">
  </div>
  <div class ="col-5">
<p> <h4>Simplify your morning trips.<br>
    Buzz empowers you with:</h4>
    <ul>
      <li> <strong>Reduced travelling time</strong> </li>
        <p> No unnecessary stops. Along with similar riders, Buzz Routes virtually connect you from home to office, stopping only for our rider pickups and dropoffs. </p>
      <li> <strong>Comfortable rides </strong></li>
        <p> Squeeze and stand no more. Start your day smoothly with a cool, seated trip to your daily hustle.  </p>
      <li> <strong>Reliability </strong></li>
        <p> Timely transport guarantee. Buzz offers a money-back guarantee for reaching your destination within a 15 minute window*.</p>
      <li> <strong>A balance between public and private transport </strong></li>
        <p> Value for money. Buzz offers the privilege of a smoother commute experience while being reasonably-priced. We aim to keep each trip between 4-6 SGD to continue providing value to you.</p>
        <a href ="/users/register" class="btn btn-warning " >Signup</a>
    </ul>
</p>
  </div>
</div>
<br>
