<body class="sidebar-collapse">

  <!-- Wrapper -->
  <div class="wrapper">
      <div class="page-header clear-filter" filter-color="black">
        <div class="page-header-image" data-parallax="true">
          <video id="bgVideo" autoplay loop>
            <source src="/assets/video/handy.mp4" type="video/mp4">
          </video>
        </div>

        <div class="container">
          <div class="content-center">
            <h1 class="title text-center">Travel Route</h1>
              <h3 class="description text-center">
                It's a simple and beautiful way to record your travels, then effortlessly share them on Itinerary.
              </h3>
              <a href="/destination" class="btn btn-primary btn-lg btn-round">View Routes &nbsp;<i class="ion-android-happy"></i></a>

              <div class="d-flex justify-content-center text-light">
                <i class="ion-android-funnel"></i>
              </div>

          </div>
        </div>
      </div>
  </div>
  <!-- End Wrapper -->

  <div class="section section-nucleo-icons">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-12">
                  <h2 class="title">Isn't the hardest part of traveling is planning the trip itself?</h2>
                  <h5 class="description">
                    Worried free as Itinerary allow you to view others traveller routes for trip ideas. And share your travel plans by creating and post your route here.
                  </h5>

                  <a href="/register" class="btn btn-primary btn-round btn-lg">Let's get started</a>
                  <a href="/routes" class="btn btn-primary btn-simple btn-round btn-lg">View Routes</a>
              </div>
              <div class="col-lg-6 col-md-12">
                  <div class="icons-container">
                      <i class="ion-paper-airplane"></i>
                      <i class="ion-plane"></i>
                      <i class="ion-android-bulb"></i>
                      <i class="ion-coffee"></i>
                      <i class="ion-android-subway"></i>
                      <i class="ion-happy-outline"></i>
                      <i class="ion-map"></i>
                      <i class="ion-music-note"></i>
                      <i class="ion-images"></i>
                      <i class="ion-bonfire"></i>
                      <i class="ion-bag"></i>
                      <i class="ion-android-pin"></i>
                      <i class="ion-thumbsup"></i>
                      <i class="ion-android-restaurant"></i>
                      <i class="ion-android-globe"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
