<section class="section">
    <div class="container">
      <h1 class="title">Hello
      {{#if user }}
        <span> {{user.username}}, </h2></span>
      <h2 class="subtitle">
        Welcome back!
      </h2>
      {{/if}}
      {{#unless user }}
        <span>kawan kawan</span>,
      <h2 class="subtitle">
        Please login/ sign up with us NOW!
      </h2>
      {{/unless}}</h1>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">About Us</h1>
      <h2 class="subtitle">
        <p>Ever wondered where is the nearest parking lot at Orchard Towers?</p>
        <p>At ParkWhereSia!?, you can find the nearest carparks with just a click!</p>
        <p>With ParkWhereSia!?, you will never have to scratch your head thinking PARK WHERE SIA!?</p>
      </h2>
    </div>
  </section>
