<!-- START: Hero Banner -->
<section class="hero is-medium is-info">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">Consult the Oracle</h1>
			<h2 class="subtitle">Seek guidance from the ancient Chinese wisdom</h2>
		</div>
	</div>
</section>
<!-- END: End Hero Banner -->

<section id="text-1" class="section">
	<div class="container">
		<h1 class="title">
			孔子晚而喜易。序彖、繫象、說卦、文言。讀易，韋編三絕。
			<div style="font-weight: initial; font-size: 1.5rem; margin-top: 0.5rem;"><span style="letter-spacing: -0.1rem;">——</span>司馬遷《史記》</div>
		</h1>
		<p class="subtitle" style="margin-top: 0.5rem;">
			“In his old age, Confucius took a keen interest in the Book of Changes and wrote primers to many sections of the book. He studied the Book of Changes [so often that] the binding of the bamboo strips fell apart thrice.”<br>
			<span style="display: inline-block; margin-top: 0.5rem; font-style: italic;">—Sima Qian, “The Historical Records”</span
		</p>
	</div>
</section>
<section id="text-2" class="section">
	<div class="container">
		<h1 class="title">
			子曰：「加我數年，五十以學易，可以無大過矣。」
			<div style="font-weight: initial; font-size: 1.5rem; margin-top: 0.5rem;"><span style="letter-spacing: -0.1rem;">——</span>《論語·述而》</div>
		</h1>
		<p class="subtitle" style="margin-top: 0.5rem;">
			Should I be given several years more [to live], [say] five [or] ten [years which I will then devote] to study the Book of Changes, I would be free from major transgressions.”<br>
			<span style="display: inline-block; margin-top: 0.5rem; font-style: italic;">—Confucius, “The Analects of Confucius”</span
		</p>
	</div>
</section>
<section id="text-3" class="section">
	<div class="container">
		<h1 class="title">
			是以君子將有為也，將有行也，問焉而以言，其受命也如響，无有遠近幽深，遂知來物。非天下之至精，其孰能與於此。
			<div style="font-weight: initial; font-size: 1.5rem; margin-top: 0.5rem;"><span style="letter-spacing: -0.1rem;">——</span>《周易·繫辭上》</div>
		</h1>
		<p class="subtitle" style="margin-top: 0.5rem;">
			“Therefore whenever the noble man is about take a course of action or carry out a mission, [he] expresses his query [to the oracle] in words. [The oracle] responds to his query [immediately] like the reverberation of an echo regardless of [the query’s] proximity or obscurity. This is how [the noble man] learns of what lies ahead. If [the oracle] was not among the most sublime beneath the sky, how could it be able to proffer something like this?”<br>
			<span style="display: inline-block; margin-top: 0.5rem; font-style: italic;">—“The Appended Commentary, Book of Changes.”</span
		</p>
	</div>
</section>
