<h2>Hello
{{#if user }}
  <span> {{user.username}}, </h2></span>
<p>Welcome back!</p>
{{/if}}
{{#unless user }}
  <span>kawan kawan</span>,</h2>
  <p> Please log in/ sign up with us!</p>
{{/unless}}
<h3>About Us</h3>
</div>
<p>Ever wondered where is the nearest parking lot at Orchard Towers? Ever wondered how much would it cost to park at ION Orchard at 12pm on a Tuesday?</p>
<p>At ParkWhereSia!?, you can get all the information with just a click! Simply tell us where you want to go and get information on the nearby carparks and their prices.</p>
<p>Furthermore, we are working on updating the availability of the carpark (real time), just so you can plan which carpark to park at.</p>
<p>With ParkWhereSia!?, you will never have to scratch your head thinking PARK WHERE SIA!?</p>
