<h2> Peace of mind travelling? Piece of cake. </h2>

{{!-- <ul>
  <li> <a href="/users/register"> New rider </a></li>
  <li> <a href="/users/login"> Existing rider </a></li>
  <li> <a href="/route"> Check out our buzz rides! </a></li>
  {{#if user}}
  <li> <a href="#"> {{ user.name}} </a>
  <li> <a href="/logout"> Logout </a>
  {{/if}}
</ul> --}}
