<body class="sidebar-collapse">

  {{!-- <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="400" style="position: absolute; background-color: black;">
      <div class="container">
          <div class="navbar-translate">
              <a class="navbar-brand" href="/" rel="tooltip" title="Itinerary | The only solution of itinerary planning" data-placement="bottom" style="font-size: 1.8571em;">
                Itinerary
              </a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
              <ul class="navbar-nav" style="font-size: 20px;">
                  <li class="nav-item">
                      <a class="nav-link" href="/register">
                          <i class="ion-person-add"></i>
                          <p>Register</p>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-neutral" href="/">
                      <i class="ion-person"></i>
                      <p>Login</p>
                    </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- End Navbar --> --}}

  <!-- Wrapper -->
  <div class="wrapper">
      <div class="page-header clear-filter" filter-color="black">
          <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/ilya-yakover.jpg');"></div>

          <div class="container">
              <div class="content-center">
                  <h1 class="title text-center">Travel Route</h1>
                  <h3 class="category">v1.0.0</h3>
                  <h4 class="description text-center">Introducing the simple way to view beautiful itineraries from across.</h4>
                  <a href="/" class="btn btn-primary btn-lg btn-round">View Trip Plans</a>
              </div>

              <footer class="footer">
                <div class="d-flex justify-content-center">
                  Designed by&nbsp;
                  <a href="https://github.com/heyzernut" target="_blank">Hazel Toh</a> &nbsp;|&nbsp;Builded by&nbsp;
                  <a href="http://getbootstrap.com/" target="_blank"> Bootstrap 4</a>&nbsp;<i class="ion-android-favorite-outline"></i>
                </div>
              </footer>
          </div>
      </div>
  </div>
  <!-- End Wrapper -->

</div>
