
{{!-- <p id="result"></p> --}}

<div class="container">
  <h3>Hello {{user.name}} ! </h3>

    <p>Understand your investments within your
    portfolio and allocate strategically.</p>

    <a  href="/register"> Start now </a>

</div>
