
{{!-- <p id="result"></p> --}}
<body id = "homeBody">
  <div class="container">
    <h3 >Hello {{user.name}}  </h3>

      Begin understanding your portfolio today and allocate strategically.

  <p id = "wb">
    <br>“Risk comes from not knowing what you’re doing.” - Warren Buffett
  </p>


  </div>
</body>
