


{{!-- <form action="/" method="post"> --}}
  {{!-- <form action="/geo" method="post">  --}}
    <button type="submit" name="getGeo" id="getGeo">Get my location</button>
{{!-- </form> --}}


{{{myLoc.longitude}}}
