<section id="main">
    <div class="container">
      <h1>Header</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus ipsum, rhoncus semper magna. Nulla nec magna sit amet sem interdum condimentum.</p>
    </div>
  </section>

  

<section id="boxes">
    <div class="container">
      <div class="box">
        <img src="./img/logo_brush.png">
        <h3>Text</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamusultricies</p>
    </div>

    <div class="box">
      <img src="./img/logo_brush.png">
        <h3>Text</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viva</p>
    </div>

    <div class="box">
      <img src="./img/logo_brush.png">
        <h3>Text</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augues</p>
    </div>
  </div>
</section>

<section id="features">
  <div class="container">
    <div class="row center-xs center-sm center-md center-lg">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Header</h2>
        <p>Text</p>


          <!-- ROW 1 -->
          <div class="row center-xs center-sm center-md center-lg">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <i class="fa fa-dashboard"></i><br>
              <h4>Text</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <i class="fa fa-question-circle-o"></i><br>
              <h4>Text</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <i class="fa fa-rocket"></i><br>
              <h4>Text</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>

          <!-- ROW 2 -->
          <div class="row center-xs center-sm center-md center-lg">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <i class="fa fa-line-chart"></i><br>
              <h4>Text</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <i class="fa fa-users"></i><br>
              <h4>Text</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <i class="fa fa-plug"></i><br>
              <h4>Text</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




    <!-- INFO -->
    <section id="info">
      <div class="container">
        <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Header</h2>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    <section id="subscribe">
      <div class="container">
        <h1>Subscribe for the Newsletter</h1>
        <form>
            <div class="container">
          <input type="email" placeholder="Enter Email Address...">
          <button type="submit" class="button1">Subscribe</button>
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </form>
      </div>
    </div>
    </section>



    <section id="contactus">
      <div class="container">
        <h2>Contact Us</h2>
        <p>Diam dignissim lectus eu ornare volutpat orci.</p>
      </div>

      
      <form action="#">
        <div class="row-name">

          <div>
            <input type="text" class="text" name="name" placeholder="Name">
          </div>

          <div>
            <input type="text" class="text" name="email" placeholder="Email">
        </div>

        <div class="row-message">
            <textarea name="message" placeholder="Message"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-submit" value="Submit">
        </div>
        </div>
      </form>
    </section>



    <div class="col-md-3 col-sm-6">
       <div class="contact-info bottom">
          <h2>Details</h2>
            <address>
            E-mail: <a href="mailto:someone@example.com">emailme@abc.com</a> <br> 
            Phone: +65 3456 7890 <br> 
            </address>

            <h2>Address</h2>
            <address>
            15-01 Bond House <br>
            Redbound Road <br> 
            Singapore <br> 
            </address>
        </div>
    </div>


       <section id="footer-icons">
        <ul class="icons">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-instagram"></a>
        </ul>
        <section>

          <footer id="footer">
            <div class="container">
              <p>Copyright &copy 2017 | <a href="http://github.com/emjys">SHOWJYS</a></p>
            </div>
          </footer>