<h3>{{ quote.quote }} - {{ quote.author }}</h3>

<form action="/addcollection" method="post">
  <input type="hidden" name="quoteId" value="{{ quote.id }}">
  <button type="submit" name="button">Add to Collection</button>
</form>
