
<div class="p-3 mb-2 bg-light rounded text-white">
  <h1 class="lead text-primary p">Login</h1>
  <h1></h1>
  <form action="/" method="post">
    <div class="form-group text-muted">
      <label for="email">Email</label>
      <input type="email" name="user[email]" class="form-control" placeholder="Enter Email">
    </div>
    <div class="form-group text-muted">
      <label for="password">Password</label>
      <input type="password" name="user[password]" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
