<div class="content">
  <div class="head">
    <h3>Welcome to Conso!</h3>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      Please login or register
    </div>
  </div>
  <br>
</div>
