<body class="sidebar-collapse">

  <!-- Wrapper -->
  <div class="wrapper">
      <div class="page-header clear-filter" filter-color="black">
        <div class="page-header-image" data-parallax="true">
          <video id="bgVideo" autoplay loop>
            <source src="/assets/video/handy.mp4" type="video/mp4">
          </video>
        </div>

        <div class="container">
          <div class="content-center">
            <h1 class="title text-center">Travel Route</h1>
              <h4 class="description text-center"><strong>Introducing the simple way to view beautiful itineraries from across.</strong></h4>
              <a href="/destination" class="btn btn-primary btn-lg btn-round">View Routes  <i class="ion-android-happy"></i></a>
          </div>

          <footer class="footer">
            <div class="d-flex justify-content-center">
            Designed by&nbsp;
            <a href="https://github.com/heyzernut" target="_blank">Hazel Toh</a> &nbsp;|&nbsp;Builded by&nbsp;
            <a href="http://getbootstrap.com/" target="_blank"> Bootstrap 4</a>&nbsp;<i class="ion-android-favorite-outline"></i>
            </div>
          </footer>
        </div>
      </div>
  </div>
  <!-- End Wrapper -->

</div>
