<div class="text">
  <p class="is-size-2 is-size-3-touch title">Multi Business Locator</p>
  <p class="is-size-5 is-size-5-touch">A new search engine to look for multiple local businesses.</p>
  <p class="is-size-5 is-size-5-touch">Maximum of 5 local businesses for each search.</p>
</div>

<form method="post" action="/search" class="search-form">
  <div class="inputfield">
    <div class="field is-horizontal"  id="field0">
      <div class="field-label is-normal">
        <label class="label">Priority 1</label>
      </div>

      <div class="field-body">
        <div class="field">
          <div class="control" id="control0">
            <input class="input" type="text" name="entry0" id="input0" placeholder="eg. Restaurant">
          </div>
        </div>
      </div>

      <!-- <div class="icons-placeholder">
      </div> -->
    </div>

    <div class="field is-horizontal"  id="field1">
      <div class="field-label is-normal">
        <label class="label">Priority 2</label>
      </div>

      <div class="field-body">
        <div class="field">
          <div class="control" id="control1">
            <input class="input" type="text" name="entry1" id="input1" placeholder="eg. Bookstore">
          </div>
        </div>
      </div>

      <!-- <div class="icons">
        <i class="fas fa-plus-square"></i>
      </div> -->
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control control-button">
          <button class="button">Search</button>
        </div>
      </div>
    </div>
  </div>
</form>
