<!-- START: Hero Banner -->
<section class="hero is-medium is-info">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">Consult the Oracle</h1>
			<h2 class="subtitle">Seek guidance from the ancient Chinese wisdom</h2>
		</div>
	</div>
</section>
<!-- END: End Hero Banner -->

<section class="section">
	<div class="container">
		<h1 class="title">
			“In his old age, Confucius took a keen interest in the Book of Changes and wrote primers to many sections of the book. He studied the Book of Changes [so often that] the binding of bamboo strips fell apart thrice.”
		</h1>
		<p class="subtitle">
			—Sima Qian, “The Historical Records”
		</p>
	</div>
</section>
<section class="section">
	<div class="container">
		<h1 class="title">
			Should I be given several years more [to live], [say] five or ten [years which I can then devote] to study the Book of Changes, I would be free from major transgressions.”
		</h1>
		<p class="subtitle">
			—Confucius, “The Analects of Confucius”
		</p>
	</div>
</section>
<section class="section">
	<div class="container">
		<h1 class="title">
			“Therefore whenever the noble man is about embark on an endeavor or a mission, [he] expresses his query [to the oracle] in words. [The oracle] responds to his query [immediately] like the reverberation of an echo no matter how far or close, or how [shrouded in the] dark or vast the depth. This is how [the noble man] learns what lies ahead. If [the oracle] was not among the most essential [thing] on earth, how could it be able to proffer thing such as this?
		</h1>
		<p class="subtitle">
			—The Appended Commentary, Book of Changes.”
		</p>
	</div>
</section>
