<div class="banner">

  <!-- Announcement display -->
  {{#if announcements}}
  <div class="pure-u-1-1 banner-head scroll window">
    {{#each announcements}}
    {{#if @last}}
        <div>{{content}}</div>
        <!-- <div>Posted by <strong>{{postedBy}}</strong> on  {{datePosted}} -->
        </div>
    {{/if}}
    {{/each }}
  </div>
</div>
{{/if }}

<div class="l-content">
  <div class="line-tables pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
          <div class="line-table line-table-display">
              <div class="line-table-header" id="ewline">
                  <span class="line-table-price">
                      E-W Line
                  </span>
              </div>
                <ul class="line-table-list window" id="ew"></ul>
          </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-2">
          <div class="line-table line-table-display">
              <div class="line-table-header" id="nsline">
                  <span class="line-table-price">
                      N-S Line
                  </span>
              </div>
                <ul class="line-table-list window" id="ns"></ul>
          </div>
      </div>
  </div>
  <!-- end line-tables -->

  <div class="line-tables pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
          <div class="line-table line-table-display">
              <div class="line-table-header" id="neline">
                  <span class="line-table-price">
                      NE Line
                  </span>
              </div>
                <ul class="line-table-list window" id="ne"></ul>
          </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-2">
          <div class="line-table line-table-display">
              <div class="line-table-header" id="dtline">
                  <span class="line-table-price">
                      DT Line
                  </span>
              </div>
                <ul class="line-table-list window" id="dt"></ul>
          </div>
      </div>
  </div>
  <!-- end line-tables -->

  <div class="line-tables pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
          <div class="line-table line-table-display">
              <div class="line-table-header" id="cline">
                  <span class="line-table-price">
                      Circle Line
                  </span>
              </div>
                <ul class="line-table-list window" id="circle"></ul>
          </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-2">
          <div class="line-table line-table-display">
              <div class="line-table-header" id="random">
                  <span class="line-table-price">
                      Other News
                  </span>
              </div>
                <ul class="line-table-list window" id="others"></ul>
          </div>
      </div>

  </div>
  <!-- end line-tables -->


</div> <!-- end l-content -->

<div class="footer l-box">
    <p>
        Train Delay Reports are consolidated here based on Twitter Standard Search API.
    </p>
</div>
