<div class="splash-container">
  <div class="splash">
      <h1 class="splash-head">Medicate</h1>
      <p class="splash-subhead">
          Find your nearest licensed pharmacies to collect your prescriptions.
      </p>
  </div>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1-WIuuq1TjhOCQnTIWv_hRsvzCeg" width="640" height="480"></iframe>
