{{!-- <form action="/" method="post"> --}}
{{!-- <form action="/geo" method="post">  --}}
<button type="submit" name="getGeo" id="getGeo">Get my location</button>{{!-- </form> --}}
<button type="submit" name="speechButton" id="speechButton">Use Speech</button>
<button type="submit" name="stopSpeechButton" id="stopSpeechButton">Stop Speech</button>
<div class="stopsNearby">

</div>
<div class="map">
  <img src="" alt="" class="gmap">
</div>

{{!-- todo Phase 2 only
<div class="saved">
{{#each stops as |stop|}}
{{stop.stopCode}}
{{stop.description}}
{{stop.road}}
{{/each}}

</div> --}}
