
<div class="row">
	  <div class="col-md-3"></div>
	  <div class="col-md-3">
      <h1>With Us,it possible to do the 3 save!</h1>
	    <p>Save Environment!</p>
      <p>Save Unnecessary Wastage!</p>
      <p>Save Unnecessary Wastage!</p>
      <button type="button" name="btnSupplier">Let's Go!</button>
	  </div>
	  <div class="col-md-3"></div>
</div>
