<div style="background: url(/img/backgroundFridge.jpg) no-repeat;
            background-size: cover;
            height: 600px;">
  <div class="mx-auto"
  style="width: 600px;
        text-align: center;
        padding-top: 30px;">
    <h1>Welcome to Fridge Magnets</h1>
    <p>A More Effective way of assigning family task</p>
  </div>
</div>
