<!-- START: Hero Banner -->
<section class="hero is-medium is-info">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">Consult the Oracle</h1>
			<h2 class="subtitle">Seek guidance from the ancient Chinese wisdom</h2>
		</div>
	</div>
</section>
<!-- END: End Hero Banner -->

<section class="section">
	<div class="container">
		<h1 class="title">
			Hello Oracle
		</h1>
		<p class="subtitle">
			Welcome to the <strong>Oracle of Change</strong>!
		</p>
	</div>
</section>
<section class="section">
	<div class="container">
		<h1 class="title">
			Hello Oracle
		</h1>
		<p class="subtitle">
			Welcome to the <strong>Oracle of Change</strong>!
		</p>
	</div>
</section>
<section class="section">
	<div class="container">
		<h1 class="title">
			Hello Oracle
		</h1>
		<p class="subtitle">
			Welcome to the <strong>Oracle of Change</strong>!
		</p>
	</div>
</section>