<h2>Hello <span id='nametochange'>kawan kawan</span>,</h2>

<p> where are you driving to? </p>

<form class="searchCarpark" action="/" method="post">
  <label>
    <input type="text" name="" placeholder="location">
  </label>
  <button>park where sia!?</button>
</form>

<div class="map">
  <p>MAP HERE!</p>
</div>
