<form method="post" action="search">
  <div class="field">
    <label class="label">First Item</label>
    <div class="control">
      <input class="input" type="text" name="entry0" placeholder="eg. Restaurant">
    </div>
  </div>
  <div class="field">
    <label class="label">Second Item</label>
    <div class="control">
      <input class="input" type="text" name="entry1" placeholder="eg. Bookstore">
    </div>
  </div>
  <div class="control">
    <button class="button is-primary">Submit</button>
  </div>
</form>
