<div class="view">
  <img src="../images/mainbg.jpg">
    <div class="overlay">
      <div id="welcome">
        <h1> Welcome! </h1>
        <h6>Enter your email and password to log-in or sign up.</h6>
        <div class="d-inline-flex justify-content-center" id="login-form">
          <form class="form" action="/auth/login" method="POST">
            <div class="form-group col-sm-12">
              <input class="form-control" type="text" placeholder="E-mail address" name="email">
            </div>

            <div class="form-group col-sm-12">
              <input class="form-control " type="password" placeholder="Password, min 9 char" name="password">
            </div>

            <div class="form-group">
              <input id="signup"class="btn btn-primary" type="submit" value="Log in">
              <span>or</span>
              <input id="signup" class="btn btn-success" formaction="/auth/signup" type="submit" value="Sign Up"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="">
    </div>
</div>
