<!-- Banner -->
<header>
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-8 mx-auto text-center"><h1>Banner</h1></div> -->
    </div>
  </div>
</header>
<section id="intro1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <h2>Travel Planning with Ease</h2>
        <hr>
      </div>
    </div>
  </div>
</section>
<section id="intro2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <h2>Personalised Itinerary</h2>
        <hr>
      </div>
    </div>
  </div>
</section>
<section id="intro3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <h2>Seamless Collaboration</h2>
        <hr>
      </div>
    </div>
  </div>
</section>
<section id="intro4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <h2>Offline Access</h2>
        <hr>
      </div>
    </div>
  </div>
</section>
