<body>
  <div class="container jumbotron">
    <h1>Hello, Let's Buy2gether Lah!</h1>
    <h4>A site for homeowners (we know that's a big purchase!) to come together to reap that economy of scale! Sign up to check it out! And for returning homeowners, start logging the $ saved!</h4>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/logout">Logout</a>
  </div>
</body>
