<body>
  <div id="indexBackground" class="container jumbotron">
    <h1 id="indexWords">Hello, Let's Buy2gether Lah!</h1>
    <h4 id="indexWords">A site for homeowners (we know that's a big purchase!) to come together to reap that economy of scale! Sign up to check it out! And for returning homeowners, start logging the $ saved!</h4>
    <% if (!currentUser) { %>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/login">Login</a>
    <% } %>
    <% if (currentUser) { %>
    <a href="/auth/logout">Logout</a>
    <% } %>
  </div>
</body>
