<h1>Welcome to Project 2</h1>
{{!-- <div class="homeButtons"> --}}
  <div class="loginButtonsContainer">
    <button class="loginButtons"><a class="loginButtonsLinks" href="users/login">LOGIN</a></button>
    <button class="loginButtons"><a class="loginButtonsLinks" href="users/register">SIGNUP</a></button>
  </div>
{{!-- </div> --}}
