<!-- Banner -->
<header>
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-8 mx-auto text-center"><h1>Banner</h1></div> -->
    </div>
  </div>
</header>
<section id="intro1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <h2>Travel Planning with Ease</h2>
        <hr>
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and
          I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
          the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
      </div>
    </div>
  </div>
</section>
<section id="intro2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <h2>Personalised Itinerary</h2>
        <hr>
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and
          I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
          the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
      </div>
    </div>
  </div>
</section>
<section id="intro3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <h2>Seamless Collaboration</h2>
        <hr>
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and
          I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
          the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
      </div>
    </div>
  </div>
</section>
<section id="intro4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <h2>Offline Access</h2>
        <hr>
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and
          I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
          the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
      </div>
    </div>
  </div>
</section>
