<div class="title">
  <h1>Right on CUE.</h1>
  <h2>Don't be afraid. We've got cookies.</h2>
  <hr>
  <p>CUE is a collaborative playlist creation tool meant for the discerning enthusiast. You could be stacking up a sick set for a party, or curiously curating a mixtape for your special somebody - CUE is meant for you.</p>
  <hr>
  <% if (locals.user.firstName === 'stranger') { %>
    <a href="/users/login"><button class="btn btn-primary">Log In</button></a>
    <a href="/users/signup"><button class="btn btn-primary">Sign up</button></a>
  <% } %>
</div>