<h2>Home</h2>
<h4>When is the best time to go to this country?</h4>
<form action='/country' method='post'>
  <input type="text" name="searchInput" id="searchInput" placeholder="Singapore/Myanmmar" value=''>
  <button>Search</button>
</form>
