<div class="splash-container">
  <div class="splash">
    <h3 class = 'red'>{{flash}}</h3>
    <p class="splash-subhead">
      When is the best time to go to this country?
    </p>
    <form action='/countries' method='post'>
      <input type="text" name="searchInput" id="searchInput" class="splash-head" placeholder="Singapore">
      <button class="pure-button pure-button-primary">Search</button>
    </form>
  </div>
</div>
