<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">volenti</h1>
    <p class="lead">volunteering made easy</p>
    <span class="badge badge-default">/ˌvəʊlenti/</span>
    <span class="badge badge-default">adjective</em></span>
    <span class="badge badge-default">willing</span>
    <span class="badge badge-default">willful</span>
    <span class="badge badge-default">unforced</span>
  </div>
</div>
