<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mmb</title>
    <link rel='stylesheet' href='/css/bootstrap.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <% if (!user) { %>
            <li role="presentation"><a href="/about">About</a></li>
            <% } else { %>
            <li role="presentation"><a href="/auth/logout">Logout</a></li>
            <li role="presentation" class="active"><a href="/dashboard/">Home</a></li>
            <% } %>
          </ul>
        </nav>
        <h3 class="text-muted">mmb</h3>
      </div>
      <% include partials/alerts %>
      <%- body %>

      <footer class="footer">
        <p>&copy; 2017 mmb inc.</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
