<h3>Login</h3>

<form action="/login" method="post">
  <label>Username</label>
  <input type="test" name="user[username]" placeholder="Username">
  <label>Password</label>
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Submit">
</form>
