<h3>Login</h3>

<form action="/login" method="post">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="password" name="user[password]" placeholder="Password">
  <button type="submit" class="blue waves-effect waves-light btn">Submit</button>
</form>
