<h1>Login/Register</h1>

<form class="" action="/login" method="post">
  <label for="register">Name: </label>
  <input type="text" name="name">
  <label for="register">Email: </label>
  <input type="text" name="email">
  <label for="register">Password: </label>
  <input type="text" name="password">
  <input id="register" type="submit" >
</form>
