<h3>Login</h3>

<form action="/login">
  <label>Email</label>
  <input type="email" name="email">
  <label>Password</label>
  <input type="password" name="password">
  <input type="submit" value="Submit">
</form>
