<div class="jumbotron">
  <h1>MeowMeowBeenz</h1>
  <img id='mmbIcon' src="assets/MeowMeowBeenz_rankings.jpg" />
  <p class="lead">God forbid if you forget this, chant after me</p>
  <blockquote class='lead'>
    <p>Fives have lives. Fours have chores. Threes have fleas. Twos have blues and Ones don't get a rhyme, because they're garbage.</p>
    <footer>The one and only Dean Pelton</footer>
  </blockquote>

  <div class="btn-toolbar-justified" role="toolbar" aria-label="account">
    <a role="button group" class="btn btn-lg btn-primary" href="/auth/login">Login!</a>
    <a role="button group" class="btn btn-lg btn-success" href="/auth/register">Register!</a>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h4>Persistent ratings..</h4>
    <p>Once a noble rates you, even if he is dead, his rating will still persist!</p>
  </div>
  <div class="col-lg-6">
    <h4>Complete Transparency..</h4>
    <p>All ratings are visible to the user, rate wisely peon</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h4>Insert some technical jargon that startups like to put</h4>
    <p>This app is state-machined constructed that allows time travel to happen</p>
  </div>
  <div class="col-lg-6">
    <h4>Insert some technical jargon 2 that startups like to put</h4>
    <p>This app uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. </p>
  </div>
</div>
