<div class="container jumbotron">
  <h1>Create New Product</h1>
</div>
<form action="/products" method="post">
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Product Name: </label>
    <input type="text" name="productname">
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">URL: </label>
  <input type="text" name="linkforproduct">
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Price: $</label>
    <input type="text" name="price">
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Description: </label>
    <input type="hidden" type="text" name="description">
    <textarea rows="2" cols="50" name="description"> Enter text here...</textarea>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Area I Live In: </label>
    <input type="text" name="buyerarea">
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Respond By: </label>
    <input type="date" name="respondby">
</div>
<div class="col-sm-offset-2 col-sm-12">
    <input class="btn btn-default" type="submit" value="Submit">
  </div>
</form>
<label for=""></label>
