<h3>Profile Page</h3>

<p>{{ user.name }}</p>
<p>{{ user.email }}</p>

<form>
    <p>
        <label>Name:</label> <input type="text">
        <label>Age:</label> <input type="text">
        <span class="remove">Remove</span>
    </p>
    <p>
        <span class="add">Add fields</span>
    </p>
</form>
