<h1>{{user.name}}'s Fridge</h1>

<ul>
</ul>


<div class="btn dropup">
  <button type="button" class="btn btn-primary btn-circle btn-xl" onclick="location.href='/fridge/new'">
      +
  </button>
</div>
