<li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
<h2>Welcome Back! What Would You Like To Do?</h2>
<a href="/events" class="pure-menu-link">Search For Events</a>
<a class="pure-menu-link">View Your Eventory</a>
<select name="event[id]">
        {{#each events as |event|}}
        <option value="{{ event.id }}">{{event.name}}</option>
        {{/each}}
      </select>
