<h3>Profile Page</h3>

<p>{{ user.name }}</p>
<p>{{ user.email }}</p>

<form>
    <div>
      <h4>Executive Summary</h4>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
      </ul>
      <input type="text">
      <button class="remove">Remove point</button>
      <button class="add">Add new point</button>
    </div>

    <div>
      <h4>Key Competencies</h4>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
      </ul>
      <input type="text">
      <button class="remove">Remove point</button>
      <button class="add">Add new point</button>
    </div>

    <div>
      <h4>Professional Experience</h4>
      <ul>
        <h4>Company 1</h4>
        <p>Jun 2015 - Jun 2017<p>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
      </ul>
      <ul>
        <h4>Company 2</h4>
        <p>Jun 2015 - Jun 2017<p>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
      </ul>
      <ul>
        <h4>Company 3</h4>
        <p>Jun 2015 - Jun 2017<p>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
      </ul>
      <input type="text">
      <button class="remove">Remove point</button>
      <button class="add">Add new company</button>
      <button class="add">Add new point</button>
    </div>

    <div>
      <h4>Education</h4>
      <div>
        <h4>School 1</h4>
        <p>'O' Levels<p>
        <p>Jun 2000 - Jun 2004<p>
      </div>
      <div>
        <h4>School 2</h4>
        <p>'A' Levels<p>
        <p>Jun 2005 - Jun 2007<p>
      </div>
      <div>
        <h4>School 3</h4>
        <p>BSc. something<p>
        <p>Jun 2010 - Jun 2014<p>
      </div>
      <input type="text">
      <button class="remove">Remove point</button>
      <button class="add">Add new school</button>
    </div>

    <div>
      <h4>Other Activities and Achievements</h4>
      <ul>
        <h4>Organization 1</h4>
        <p>Jun 2015 - Jun 2017<p>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
      </ul>
      <ul>
        <h4>Organization 2</h4>
        <p>Jun 2015 - Jun 2017<p>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
      </ul>
      <ul>
        <h4>Organization 3</h4>
        <p>Jun 2015 - Jun 2017<p>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
      </ul>
      <input type="text">
      <button class="remove">Remove point</button>
      <button class="add">Add new organization</button>
      <button class="add">Add new point</button>
    </div>

    <div>
      <h4>Skills and Interests</h4>
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
      </ul>
      <input type="text">
      <button class="remove">Remove point</button>
      <button class="add">Add new point</button>
    </div>

    <div>
      <h4>Languages</h4>
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
      </ul>
      <input type="text">
      <button class="remove">Remove point</button>
      <button class="add">Add new point</button>
    </div>
</form>
