<div class="container">
<h3>{{ user.name }}</h3>

<ul>
  <li>email: {{ user.email }}</li>
</ul>

<label for="fixedDeposit">Fixed Deposit: </label>
<select id="fixedDeposit">
  <option value="" disabled selected>Please select</option>
  <option value="Bank of China SGD Time Deposit">Bank of China SGD Time Deposit</option>
  <option value="CIMB SGD Fixed Deposits Account">CIMB SGD Fixed Deposits Account</option>
  <option value="Citibank S$ Time Deposit">Citibank S$ Time Deposit</option>
  <option value="DBS S$ Fixed Deposit">DBS S$ Fixed Deposit</option>
  <option value="HSBC Singapore Dollar Time Deposit">HSBC Singapore Dollar Time Deposit</option>
  <option value="Maybank Singapore Dollar Time Deposit">Maybank Singapore Dollar Time Deposit</option>
  <option value="OCBC Time Deposit Account">OCBC Time Deposit Account</option>
  <option value="RHB Singapore Dollar Fixed Deposit">RHB Singapore Dollar Fixed Deposit</option>
  <option value="Standard Chartered Singapore Dollar Time Deposits">Standard Chartered Singapore Dollar Time Deposits</option>
  <option value="UOB Singapore Dollar Fixed Deposit">UOB Singapore Dollar Fixed Deposit</option>
</select>
<div id="results"></div>

<br>
<br>
</div>
