<h1>welcome back, <%= locals.user.firstName.toLowerCase() %>!</h1>
<h1>these are your playlists.</h1>
<hr>
<% playlists.forEach(e => { %>
<div class="col-md-4 playlist-panel">
  <h1><%= e.name %></h1>
  <hr>
  <p>By <%= e.creator.name %></p>
  <p class="tiny pull-right"><%= e._id %></p>
</div>
<% }) %>