<h3><%= data %></h3>
<div class='container'>
  <div class='text-center'>
    <h1>This is <%=username%>'s profile..'</h1>
    <br />
    <img class='avatar' src='data:image/jpeg;base64,<%=binaryImage%>'/>
  </div>
  <blockquote class='blockquote-reverse'>
    <p><%= data.description %></p>
  </blockquote>
</div>
