<h3>Register</h3>

<form action="/register" method="post">
  <label>Username</label>
  <input type="text" name="user[username]" placeholder="Username">
  <label>Name</label>
  <input type="text" name="user[name]" placeholder="Name">
  <label>Email</label>
  <input type="email" name="user[email]" placeholder="Email">
  <label>Password</label>
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Submit">
</form>
