<div class="text">
  <p class="is-size-2 is-size-3-touch has-text-dark title">Register an Account</p>
</div>

<form method="post" action="/register">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Name:</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded has-icons-left">
          <input class="input" type="text" name="firstName" placeholder="First">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control is-expanded has-icons-left">
          <input class="input" type="text" name="lastName" placeholder="Last">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Email:</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control has-icons-left">
          <input class="input" type="email" name="email" placeholder="abc@email.com">
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Username:</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="text" name="username">
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Password:</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="password" name="password">
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Confirm Password:</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="password" name="password-confirm">
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-primary">Register</button>
        </div>
      </div>
    </div>
  </div>
</form>
