<h3>Register</h3>

<form action="/register" method="post">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="text" name="user[name]" placeholder="Name">
  <input type="email" name="user[email]" placeholder="Email">
  <input type="password" name="user[password]" placeholder="Password">
  <button type="submit" class="blue waves-effect waves-light btn">Submit</button>
</form>
