{{#each list}}
  {{indivItem}}

  {{#each indivResult}}
    <div>
      {{name}}, {{latitude}}, {{longitude}}
    </div>
  {{/each}}

  <br><br>
{{/each}}

<div>
  <a class="button is-primary" href="/analyze">ANALYZE</a>
</div>
