{{#each list}}
  <div class="result-container">
    <div class="result-title is-size-3">
      {{item}}
    </div>

    <div class="grid-container">
      {{#each result}}
        <div>
          {{#each sortedlist}}
            <p>{{name}}</p>
            <p>{{address1}}</p>
            <p>{{address2}}</p>
            <br>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}
