<form class="form-signin" action="/dashboard/settings/delete?_method=DELETE" method="POST">
  <button type="submit" class="btn btn-block btn-default btn-danger">Delete this account and the profile associated with it?</button>
</form>
