.contain {
     position: absolute;
     width: 50%;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}
.back{
  background: url('https://s8.postimg.org/nh7dmyb5x/jpeg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
body{
  text-align: center;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}

.change{
  width: 400px;
  align-items: center;
}
.button{
  align: left;
}
.image{
  width: 20px;
  height: 40px;
}
