<br>
<strong>{{user.name}}'s Portfolio Summary</strong>


<table class = 'table is-hoverable' >
 
  <thead >
    <tr>
      <th>Total amount invested <br> (USD)</th>
      <th>Current Portfolio Value <br> (USD) </th>
	  	<th>Total Gain(Loss) <br> (USD) </th>
     

    </tr>
  </thead>
	<tbody>
		<tr>
			<td>$</td>
			<td>$</td>
			<td>$</td>

		</tr>

	</tbody>



</table>
