<br>
<strong>Portfolio Summary</strong>


<table class = 'table is-hoverable' >
 
  <thead >
    <tr>
      <th>Total amount invested <br> (USD)</th>
      <th>Current Portfolio Value <br> (USD) </th>
	  <th>Total Gain(Loss) <br> (USD) </th>
     

    </tr>
  </thead>



</table>
