html, body {
  margin: 0;
  height:100%;
}

/*navigation bar fixed at the top*/

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav li {
    float: right;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-family: 'Bitter', serif;
}

.nav li a:hover {
    background-color: #111;
}

/*Homepage styling*/

.home {
  background: url('../images/cover.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.center {
  position: relative;
  text-align: center;
  top: 30%
}

.center p {
  font-size: 24px;
  position: relative;
  font-family: 'Bitter', serif;
}

.center #searchInput, .auth input {
  height: 35px;
  width: 30%
}

.center input[type="text"], .auth input[type="text"], .auth input[type="email"] {
  font-size:22px;
  padding: 3px;
  font-family: 'Bitter', serif;
}

.center button, .auth button {
  height: 45px;
  vertical-align: top;
  font-family: 'Bitter', serif;
  font-size: 18px;
  background-color: #333;
  color: white;
  border: none
}

.center button:hover, .auth button:hover {
  background-color: #111;
}

.auth {
  padding: 5%
}

.auth label, .auth button {
  display: inline-block;
  font-family: 'Bitter', serif;
  font-size:20px;
  margin: 10px 0px
}



/*My own css*/
#countryBody {
  display: inline-block;
}

#map {
  float: left
}

.chart-container {
  float: left;
  margin: 0px 0px 0px 50px;
  height: 200px;
  width: 500px;
  position: relative;
}

.jan {
  position: relative;
  top: 40px;
  left: 40px
}

#Up1 {
  position: absolute;
  bottom: 0;
  left: 0
}

#Down1 {
  position: absolute;
  margin: 5px 0px;
  top: 0;
  left: 0
}

.dec {
  position: relative;
  top: 40px;
  left: 660px
}

#Up12 {
  position: absolute;
  bottom: 0;
  left: 0
}

#Down12 {
  position: absolute;
  margin: 5px 0px;
  top: 0;
  left: 0
}

.red {
  color: red;
  padding: 0.5em 2em;
  margin: none
}
