body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
  position: relative;
  margin: 0;
  font-size: 12px;
  padding: 0
}

#alerts {
  margin-bottom: 0px;
}


.view {
  background-color: #e3ddd9
}

.view img {
  position: relative;
  width: 100%;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100vh;
  background: rgba(50, 50, 50, 0.5);
  background-size: cover;
  z-index: 900;
}


#welcome {
  width: 80%;
  color: white;
  justify-content: center;
  margin-top: 10%;
  margin-left: 10%;
  text-align: center;
}



#classes {
  height: 100vh
}


#classes-card {
  width: 25%
}

@media (max-width: 767px) {
  #classes-card {
    width: 80%;
    margin-left: 10%
  }
}
