
<div class='container'>
  <% include ../partials/alerts %>
  <div class='row'>
    <div class='col-md-2 full-height'>

      <img class='updatepic' src="<%= cloudinary.url(user.avatar, { width: 150, height: 150, crop: 'fill', gravity: 'face', radius: 'max' })%>"></img>
      <h2><%= user.name%></h2>
      <% if (events[0]._id.equals(user.id)) { %>
        <ul>
          <li><a href="">Update Profile</a></li>
        </ul>
        <% } %>
      </div>

      <div class='col-md-6 full-height'>
        <% include ../partials/upcomming %>
        <% include ../partials/myevent %>
      </div>

      <div class='col-md-4'>

        <% include ../partials/recommendedevent %>

      </div>
    </div>
  </div>
