

<div class='background-yellow'>
</div>
<div class='container content'>
  <% include ../partials/alerts %>
  <div class='row'>
    <div class='col-md-2 '>

      <img class='updatepic' src="<%= cloudinary.url(user.avatar, { width: 150, height: 150, crop: 'fill', gravity: 'face', radius: 'max' })%>"></img>
      <h2><%= user.name%></h2>
      <p class='text-center'><%= user.motor%></p>
      </div>

      <div class='col-md-6 full-height'>
        <% include ../partials/upcomming %>
        <% include ../partials/myevent %>
      </div>

      <div class='col-md-4'>

        <% include ../partials/recommendedevent %>

      </div>
    </div>
</div>
