

<div class='background-yellow'>
</div>
<div class='container content'>
  <% include ../partials/alerts %>
  <div class='row'>

    <div class='col-md-3'>
        <div class='text-center'>
          <img  src="<%= cloudinary.url(user.avatar, { width: 150, height: 150, crop: 'fill', gravity: 'face', radius: 'max' })%>"></img>

          <h2 class='text-center'><%= user.name%></h2>
          <p class='text-center'><%= user.motor%></p>
        </div>
    </div>
  </div>
  <div class='row content'>
    <div class='col-md-3'>
        <% include ../partials/chatboxes %>
    </div>

      <div class='col-md-6'>
        <% include ../partials/upcomming %>
        <% include ../partials/myevent %>
      </div>

      <div class='col-md-3'>

        <% include ../partials/recommendedevent %>

      </div>
    </div>
</div>
