<h1>Login Here</h1>
<form method="POST" action="/landingPage/login">
  <label for="emailText">Email</label>
  <input id="emailText" type="text" name="email">

  <label for="passwordText">Password</label>
  <input id="passwordText" type="password" name="password">

  <input type="submit">
</form>


<h2>No account? Sign up below!</h2>
================================================


<form method="POST" action="/landingPage/register">
  <label for="nameText">Full Name</label>
  <input id="nameText" type="text" name="name">

  <label for="emailText">email</label>
  <input id="emailText" type="email" name="email" placeholder="e.g.@test.com">

  <label for="passwordText">Password</label>
  <input id="passwordText" type="password" name="password" placeholder="Min 8 characters">

  <input type="submit">
</form>
