<div class="row">
    <form class="col s12" method="POST" action="/landingPage/login">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="email" name="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_balance_wallet</i>
          <input id="password" type="password" name="password" class="validate">
          <label for="password" >Password</label>
        </div>
          <input class="btn" type="submit">
      </div>
    </form>
  </div>
{{!-- <form method="POST" action="/landingPage/login">
  <label for="emailText">Email</label>
  <input id="emailText" type="text" name="email" class="validate">

  <label for="passwordText">Password</label>
  <input id="passwordText" type="password" name="password">

  <input type="submit">
</form> --}}


<h2>No account? Sign up below!</h2>


<div class="row">
    <form class="col s12" method="POST" action="/landingPage/register">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">accessibility</i>
          <input  id="first_name" type="text" name="name" class="validate">
          <label for="first_name">Name</label>
        </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_balance_wallet</i>
          <input id="password" type="password" name="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="email" type="email" name="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <input class="btn" type="submit" value="Sign Up">
      </div>
    </form>
  </div>

{{!-- <form method="POST" action="/landingPage/register">
  <label for="nameText">Full Name</label>
  <input id="nameText" type="text" name="name">

  <label for="emailText">email</label>
  <input id="emailText" type="email" name="email" placeholder="e.g.@test.com" class="validate">

  <label for="passwordText">Password</label>
  <input id="passwordText" type="password" name="password" placeholder="Min 8 characters">

  <input type="submit">
</form> --}}
