<h2>User Menu</h2>

<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/profile">Profile</a>
<a href="/interface">BarterCenter</a>
<br>
<br>
<form method='POST' action='/itemSearch'>
  <div class="form-group">
    <label for="Search">Find Items Now!</label>
    <input type="text" class="form-control" name="search" ">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>
