.stalk {
	width: 10px;
}

#stalks-container {
	display: flex;
	padding: 1rem;
}

.gap {
	width: 28px;
	cursor: pointer;
}

.stalk-container-is-centered {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.display-data {
	width: 100%;
	text-align: center;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

.table-is-centered {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.has-query-field {
	min-width: 500px;
}

.centers-query-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.is-query-field {
	text-align: center;
}

#Line-1, #Line-2, #Line-3, #Line-4, #Line-5, #Line-6 {
	font-weight: bolder;
}

@media only screen and (min-width: 478px) and (max-width: 560px) {
	.stalk {
		max-width: 8px;
	}
	#stalks-container {
		height: 290px;
	}
	.gap {
		width: 24px;
	}
	.has-query-field {
		min-width: 100%;
	}
}
@media only screen and (min-width: 415px) and (max-width: 477px) {
	.stalk {
		max-width: 7px;
	}
	#stalks-container {
		height: 260px;
	}
	.gap {
		width: 22px;
	}
	.has-query-field {
		min-width: 100%;
	}
}
@media only screen and (min-width: 376px) and (max-width: 414px) {
	.stalk {
		max-width: 7px;
	}
	#stalks-container {
		height: 260px;
	}
	.gap {
		width: 20px;
	}
	.has-query-field {
		min-width: 100%;
	}
}


@media only screen and (min-width: 321px) and (max-width: 375px) {
	.stalk {
		max-width: 6px;
	}
	#stalks-container {
		height: 225px;
	}
	.gap {
		width: 18px;
	}
	.has-query-field {
		min-width: 100%;
	}
}


@media only screen and (max-width: 320px) {
	#brand {
		max-width: 80%;
	}
	.stalk {
		max-width: 5px;
	}
	#stalks-container {
		height: 195px;
	}
	.gap {
		width: 16px;
	}
	.has-query-field {
		min-width: 100%;
	}
}
