<h2>Name of Show: {{ show.name }}</h2>

<h3>Update</h3>
<form action="/addtvshows/{{ show.id }}?_method=PUT" method="post">

  <label for="name">Name</label>
  <input type="name" name="name" placeholder="e.g. Game of Thrones">
  <button type="submit" name="button">Submit</button>

</form>

<h3>Delete</h3>
<form action="/addtvshows/{{ show.id }}?_method=DELETE" method="post">
  <button type="submit" name="button">Delete</button>
</form>
