<% include ../partials/headerLog %>

<div class="center-align min-height">
<h1 class="error-margin">404</h1>
<h2 class="error-oops">Oops!</h2>
<p>Page not found...</p>
<a class="waves-effect waves-light btn cyan" href="/">Go home</a>
</div>

<% include ../partials/footer %>
