<% include ../partials/header %>

  <h1>Home Page</h1>
  <div class="masonry">

    <div class="card item">
      <a href="/review">
        <div class="card-image">
          <img src="/img/chicken.jpg">
          <span class="rating">5.0</span>
        </div>
      </a>
      <div class="card-content">
        <p>Hello World</p>
      </div>
    </div>

    <div class="card item">
      <div class="card-image">
        <img src="/img/laksa.jpg">
        <span class="rating">5.0</span>
      </div>
      <div class="card-content">
        <p>Hello World</p>
      </div>
    </div>

    <div class="card item">
      <div class="card-image">
        <img src="/img/chicken.jpg">
        <span class="rating">5.0</span>
      </div>
      <div class="card-content">
        <p>Hello World</p>
      </div>
    </div>

    <div class="card item">
      <div class="card-image">
        <img src="/img/laksa.jpg">
        <span class="rating">5.0</span>
      </div>
      <div class="card-content">
        <p>Hello World</p>
      </div>
    </div>

    <div class="card item">
      <div class="card-image">
        <img src="/img/prawn.jpg">
        <span class="rating">5.0</span>
      </div>
      <div class="card-content">
        <p>Hello World</p>
      </div>
    </div>

    <div class="card item">
      <div class="card-image">
        <img src="/img/viet.jpg">
        <span class="rating">5.0</span>
      </div>
      <div class="card-content">
        <p>Hello World</p>
      </div>
    </div>

    <div class="card item">
      <div class="card-image">
        <img src="/img/skew.jpg">
        <span class="rating">5.0</span>
      </div>
      <div class="card-content">
        <p>Hello World</p>
      </div>
    </div>

    <div class="card item">
      <div class="card-image">
        <img src="/img/laksa.jpg">
        <span class="rating">5.0</span>
      </div>
      <div class="card-content">
        <p>Hello World</p>
      </div>
    </div>

    <div class="card item">
      <div class="card-image">
        <img src="/img/viet.jpg">
        <span class="rating">5.0</span>
      </div>
      <div class="card-content">
        <p>Hello World</p>
      </div>
    </div>

    <div class="card item">
      <div class="card-image">
        <img src="/img/viet.jpg">
        <span class="rating">5.0</span>
      </div>
      <div class="card-content">
        <p>Hello World</p>
      </div>
    </div>

    <% data.forEach(function(item) { %>
      <div class="card item">
        <div class="card-image">
          <a href="/fullreview/<%= item._id %>">
            <!-- need to change the src for image -->
            <img src="/img/chicken.jpg">
            <span class="rating"><%= item.rating.overall %></span>
          </a>
        </div>
        <div class="card-content">
          <p>
            <%= item.title %>
          </p>
        </div>
      </div>
      <% }); %>



  </div>
  <% include ../partials/footer %>
