<% include ../partials/header %>

  <h1>Profile Page</h1>

  <div class="row">
    <div class="col s3">
      <img src="/img/sb.jpg">
      <h2>John Doe</h2>
      <h3>johndoe</h3>
      <a href="/review/add" class="waves-effect waves-light btn">Write a review</a>
    </div>


    <div class="col s9">
      <ul class="tabs">
        <li class="tab col s6"><a href="#review">Review</a></li>
        <li class="tab col s6"><a href="#bookmark">Bookmark</a></li>
      </ul>

      <div id="review">
        <div class="row">
          <div class="col s4">
            <img src="/img/chicken.jpg" alt="">
          </div>
          <div class="col s8">
            <h4 class="review-title">Hello World</h4>
            <p class="review-para">January 1, 2018</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum perspiciatis eos amet saepe quia odit! Exercitationem ipsum ipsam esse voluptas odio doloribus, labore praesentium odit numquam asperiores id quidem eius.</p>
          </div>
        </div>

        <div class="row">
          <div class="col s4">
            <img src="/img/viet.jpg" alt="">
          </div>
          <div class="col s8">
            <h4 class="review-title">Hello World</h4>
            <p class="review-date">January 1, 2018</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum perspiciatis eos amet saepe quia odit! Exercitationem ipsum ipsam esse voluptas odio doloribus, labore praesentium odit numquam asperiores id quidem eius.</p>
          </div>
        </div>

        <div class="row">
          <div class="col s4">
            <img src="/img/prawn.jpg" alt="">
          </div>
          <div class="col s8">
            <h4 class="review-title">Hello World</h4>
            <p class="review-date">January 1, 2018</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum perspiciatis eos amet saepe quia odit! Exercitationem ipsum ipsam esse voluptas odio doloribus, labore praesentium odit numquam asperiores id quidem eius.</p>
          </div>
        </div>


      </div>



      <div id="bookmark">
        <div class="row">
          <div class="col s6">
            <img src="/img/chicken.jpg" alt="">
            <h4 class="review-title">Hello World</h4>
            <h5 class="review-date">Chicken Rice, Singapore</h5>
        </div>

        <div class="col s6">
            <img src="/img/viet.jpg" alt="">
            <h4 class="review-title">Hello World</h4>
            <h5 class="review-date">Vietnam Place, Clementi, Singapore</h5>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <img src="/img/prawn.jpg" alt="">
          <h4 class="review-title">Hello World</h4>
          <h5 class="review-date">Makan, Ang Mo Kio, Singapore</h5>
      </div>

      <div class="col s6">
          <img src="/img/skew.jpg" alt="">
          <h4 class="review-title">Hello World</h4>
          <h5 class="review-date">Seoul Yummy, Singapore</h5>
      </div>
    </div>




      </div>



    </div>
  </div>

  <% include ../partials/footer %>
