<br>
Portfolio Overview - Private Page (home.handlebars)

<br>
<br>
Portfolio Market Value: ${{portMktVal}}

<br>
<br>

Transact

<br>

<a href="">Buy</a>

<br>

<a href="">Sell</a>

<br>
<br>
<br>
<br>

Positions
<br>
{{positions}}

