<br>
<b>Portfolio Overview - Private Page (home.handlebars)</b>

<br>
<br>
Portfolio Market Value (as of MM-DD-YYYY): ${{portMktVal}}

<br>
<br>

<b>Transact</b>

<br>
<br>

<form method="post">	
	<select name="selectETF">
	{{#each instrumentsList as |instrument|}}
		<option value="{{ instrument.id }}">{{instrument.name}}</option>
	{{/each}}
	</select>
	<a class="buyInstrument" href="/">Buy</a>
	<a class="sellInstrument" href="/">Sell</a>
</form>

<br>

<b>Positions</b>
<br>
{{positions}}



<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- <script src="script.js"></script> -->