
{{#unless user}}

<div class="field">
<form id="form" action="/students/login" method="post">
    <label></label> <br>
    <input class="input is-primary" type="text" name="student[email]" placeholder="Email">
    <input class="input is-primary" type="password" name="student[password]" placeholder="Password">
    <button class="button is-primary">Login as a student</button>
</form>

<form id="form" action="/teachers/login" method="post">
    <label></label> <br>
    <input class="input is-primary" type="text" name="teacher[email]" placeholder="Email">
    <input class="input is-primary" type="password" name="teacher[password]" placeholder="Password">
    <button class="button is-primary">Login as a teacher</button>
</form>
</div>

<div id="register">
<a href="/students/new"><button class="button is-primary">REGISTER AS A STUDENT</button></a>
<a href="/teachers/new"><button class="button is-primary">REGISTER AS A TEACHER</button></a>
</div>
{{/unless}}
