
/*CSS FOR MAP*/
#map {
     width: 100%;
     height: 400px;
     }
.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  }

  .controls:focus {
    border-color: #4d90fe;
  }
  .title {
    font-weight: bold;
  }
  #infowindow-content {
    display: none;
  }
  #map #infowindow-content {
    display: inline;
  }

  /*CSS FOR ALL*/
  .bg-dark {
    background-color: black !important;
    opacity: 0.9;
  }

  #bgVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  }

  /*// Extra small devices (portrait phones, less than 576px)*/
  @media (max-width: 575px) {}

  /*// Small devices (landscape phones, less than 768px)*/
  @media (max-width: 767px) {
    .col-4 {
      max-width: 100%;
      flex: 100%;
    }

    #bgVideo {
      display:none;
    }

    .page-header-image {
      background-image:url("/assets/img/uriel-soberanes.jpg");
    }
  }

  /*// Medium devices (tablets, less than 992px)*/
  @media (max-width: 991px) {}

  /*// Large devices (desktops, less than 1200px)*/
  @media (max-width: 1199px) {}
