<section class="hero is-danger">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				The Yarrow Stalk Oracle
			</h1>
			<h2 class="subtitle">
				Type in your query, then click on the stalks or drag the slider to split the stalks
			</h2>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="tile is-ancestor <!-- is-mobile -->">
			<div class="tile is-6">
				<div class="tile is-parent is-vertical">
					<div id="has-stalks-container" class="tile is-child stalk-container-is-centered">
						<div id="stalks-container"></div>	
					</div>
					<div id="has-slider-bar" class="tile is-child"></div>
					<div id="has-split-button" class="tile is-child">
						<div id="split" class="content has-text-centered">
							<button id="is-split-button" class="button is-info is-medium">Split here</button>
						</div>
					</div>
				</div>
			</div>
			<div class="tile"></div>
		</div>
	</div>
</section>
<!-- Load jQuery from CDN -->
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

<!-- Yarrow Stalk Oracle Logic Controller -->
<script type="text/javascript" src="/javascripts/oracle.js"></script>