<h1>give birth to greatness.</h1>
<hr>

<div class="well clearfix">
  <form action="/playlists/create" method="post" accept-charset="utf-8">
    <label for="name">What's it going to be called?</label>
    <div class="form-group">
      <input type="text" class="form-control" name="name" id="name">
    </div>
    <button type="submit" class="btn btn-primary pull-right">Make my playlist!</button>
  </form>
</div>