<h2>Create Items</h2>
<br><br><br>

<form action="/items/new" method="post">

  <label for="name">Name</label>
  <input type="text" name="name" value="" placeholder="itemName">
<br><br><br>

  <label for="price">Price</label>
  <input type="text" name="price" value="" placeholder="S$1.99">
  <br><br><br>

  <label for="total_stock">Price</label>
  <input type="text" name="total_stock" value="" placeholder="1000">
  <br><br><br>

  <input type="submit" name="submit"/>
</form>
