<h2>Create Items</h2>
<br><br>

<form action="/items/new" method="post">

  <label for="name">Name</label><br>
  <input type="text" name="name" value="" placeholder="Item Name">
<br><br><br>

  <label for="price">Price per item</label><br>
  <input type="text" name="price" value="" placeholder="S$1.99">
  <br><br><br>

  <label for="total_stock">Total Stock</label><br>
  <input type="text" name="total_stock" value="" placeholder="">
  <br><br><br>

  <input type="submit" name="submit"/>
</form>
