<h2>Add Personal Quote</h2>

<form method="post" action="/quotes/addQuote">
  <label for="Author">Author Name</label>
  <input type="text" name="author" placeholder="e.g. Albert Einstein">

  <label for="Quote">Quote</label>
  <input type="text" name="quote" placeholder="e.g. Quote here">
  <button type="submit">Add Quote</button>
</form>
