<h2>Quote Collections</h2>

<ul>
  {{#each quotes}}
    <li>
      {{ this.quote }}
      -   {{ this.author }}
      <form action="/addToCollection" method="post">
        <input type="hidden" name="quoteId" value="{{this._id}}">
        <button type="submit" name="button">Add</button>
      </form>
    </li>
  {{/each}}
</ul>
