<h3>My Profile</h3></h3>

<h1>{{user}}</h1>

<h1>Hi my name is {{user.name}}</h1>


<h1>Hi my name is {{user.profile.nickname}}</h1>
<h1>Hi my name is {{user.profile.about}}</h1>



{{!-- What i need over here
profile data in nice nice --}}
