{{!-- Forgot Password --}}

<form method="post" action="/users/forgot">
    <div id="forgot">
        <div class="forgot-left"></div>
            <h3>Reset Password</h3>
            <p>Enter your email address to receive email to reset password.</p>

            <input class="inputbox" type="email" id="email" placeholder="Email Address..."><br/>
            <input type="submit" name="signup_submit" value="Reset Password">
    </div>
</form>
