<h3>Login</h3>

<form action="/login" method="post">

  <label for="username">Username</label>
  <input type="username" name="user[username]" placeholder="e.g. User123">

  <label for="password">Password</label>
  <input type="password" name="user[password]" placeholder="ur password dumbass">

  <button type="submit" name="button">Submit</button>
</form>
