<form action="/users/login" method="post">
  <h3> Welcome Buzz rider </h3>

<input type="hidden" name="user[type]" value="user">

  <label for="email">Email</label>
  <input type="email" name="user[email]" placeholder="e.g. email@domain.com">

  <label for="password">Password</label>
  <input type="password" name="user[password]" placeholder="Your password">

  <button type="submit" name="button">Submit</button>
</form>
