{{!-- Login Form  --}}

<nav class="tabs" data-component="tabs" data-equals="true">
    <ul>
        <li class="active"><a href="#tab1">LOGIN</a></li>
        <li><a href="#tab12">SIGN UP</a></li>
    </ul>
</nav>


<form action="/users/login" method="post">
    <div id="login">
        <div class="right">
            <h1>Login</h1>
                <input type="text" name="email" placeholder="E-mail">
                <input type="password" name="password" placeholder="Password">
                <input type="checkbox" name="remember"> Remember Me<br>
            <button class="button outline">Submit</button></br>
        <a href="/reset">Forgot Password?</a>
    </div>   
</form>


<div class="container" id="dogpic">
    <img src="img/dog-laptop.png">
</div>



<!-- Footer -->
<footer id="form-footer" class"container">
    <div>
        <p><a href="https://github.com/emjys/project-2"><strong>D-Poap</strong></a> &nbsp&copy 2017 &nbsp | &nbsp All Rights Reserved</p>
    </div>
</footer>