<link rel="stylesheet" href="/css/alt.css">

<h2>Welcome Back! Login Here:</h2>


<div style="color: red">
  {{ flash }}
</div>

<form action="/users/login" method="post">
  <div class="form-group">
    <label>
      Name:
      <input type="text" name="user[name]" placeholder="Submit your name">
    </label>
  </div>

  <div class="form-group">
    <label>
      Email:
      <input type="text" name="user[email]" placeholder="e.g. jane@gmail.com">
    </label>
  </div>

  <div class="form-group">
    <label>
      Password:
      <input type="password" name="user[password]" placeholder="password min. 8">
    </label>
  </div>

  {{!-- <div class="form-group">
    <label>
      Sign up to keep tabs of your events:
      <select name="event[id]">
        {{#each events as |event|}}
        <option value="{{ event.id }}">{{event.name}}</option>
        {{/each}}
      </select>
    </label>
  </div> --}}

  <button>Submit</button>
</form>
