<br/><br/><br/>

<div class="container">
<h3>Login</h3>

{{!-- if i go to /register, it will save new user instead --}}
<form action="/login" method="post">
  {{!-- no need name here, cos we're logging in --}}

  <label for="email">Email</label>

  <input type="email" name="user[email]" placeholder="email address...">

  <label for="password">Password</label>

  <input type="password" name="user[password]" placeholder="password...">

  <button type="submit" name="button">Submit</button>
</form>
</div>
