<h2>{{flash}}</h2>
<form action="login" method="POST">
  <div class="loginForm">
    <label for="authEmail">Email</label>
    <input type="email" name="email">
  </div>

  <div class="loginForm">
    <label for="authPassword">Password</label>
    <input type="password" name="password">
  </div>

  <input class="loginForm" type="submit">
</form>
