<h3>Login</h3>

<form action="/login" method="post">

  <div class="form-group">

    <label for="name">Username</label>
    <input type="name" name="user[name]" placeholder="">

    <label for="password">Password</label>
    <input type="password" name="user[password]" placeholder="">

  </div>
  <button type="submit" name="button">Submit</button>

  <div class="">
    <a href="/register">Register for a new account</a>
  </div>
</form>
