<div class="page-header">
<div class="page-header-image" style="background-image:url(/assets/img/uriel-soberanes.jpg)"></div>
<div class="container">
  <div class="col-md-4 content-center">
      <div class="card card-login card-plain">

<form action="/login" method="post">

  <div class="header header-primary text-center">
    <h3>User Login</h3>
  </div>

  <div class="input-group form-group-no-border input-lg">
      <span class="input-group-addon">
        <i class="ion-android-send"></i>
      </span>

  <input type="email" class="form-control" name="user[email]" placeholder="email address...">
  </div>

  <div class="input-group form-group-no-border input-lg">
      <span class="input-group-addon">
        <i class="ion-android-lock"></i>
      </span>
  <input type="password" class="form-control" name="user[password]" placeholder="password...">
  </div>

  <div class="footer text-center">
    <button type="submit" name="button" class="btn btn-primary btn-round btn-lg btn-block">Submit</button>
  </div>

</form>

   </div>
  </div>
</div>
</div>
