<h3>Greetings {{user.name}}!</h3>
<h3>Here is a list of your favourite quotes!</h3>

<ul>
  {{#each addedQuotes}}
    <li>
      {{this.quote}}
        - {{this.author}}
        <form action="/quotes/{{this._id}}?_method=DELETE" method="post">
          <button type="submit" name="button">Delete</button>
        </form>
    </li>
  {{/each}}
</ul>
