<h2>Signing up..</h2>

<div class="signuppicture">
  Hello stranger!
</div>
<p>All inputs are compulsory!</p>
<form action="/users/register" method="post" id='newUserForm'>
  <div class="form-group">
    <label>
      Username:
      <input type="text" name="user[username]" placeholder="Submit your username">
    </label>
  </div>

  <div class="form-group">
    <label>
      Password:
      <input type="password" name="user[password]" placeholder="Password min. 6">
    </label>
  </div>

  <div class="form-group">
    <label>
      Email:
      <input type="text" name="user[email]" placeholder="ie. hello@email.com">
    </label>
  </div>

  <button>Create User</button>
</form>
