<div class="container">
<h3>{{user.name}} Profile</h3>
<label for=""></label>
<form class="textBox" action="/profile" method="post">
  <textarea name="textBox" rows="97" cols="60"></textarea>
  <input type="hidden" name="user" value="{{user.id}}">
  <button type="submit" name="button">Analyze Text</button>
</form>
</div>

{{!-- {{#each result}}
  {{this.response}}
{{/each}} --}}
