<h3>New Gig</h3>

<form action="/profile/:slug" method="post">

  {{!-- Need to print out the person's name --}}

  <label for="about">About</label>
  <input type="text" name="about" placeholder="Tell us a little bit about yourself!">

  <label for="date">Date/Deadline</label>
  <input type="text" name="deadline" placeholder="date">

  <label for="specs">Specs</label>
  <input type="text" name="specs" placeholder="gig specs in just 2 lines">

  <label for="wage">Wage</label>
  <input type="text" name="wage" placeholder="$10 per hour">

  <label for="description">Description</label>
  <input type="text" name="description" placeholder="do share with us more details of the work!">

  {{!-- <label for="wage">Wage</label>
  <input type="text" name="wage" placeholder="$10 per hour"> --}}

  <label for="skills">Skills</label>
  <input type="text" name="skills" placeholder="C++, woodworking">

  <button type="submit" name="button">Submit</button>
</form>
