<h3>My Profile</h3></h3>

<h1>Hi my name is {{user.name}}</h1>

<form action="/profile/{{user.slug}}/settings" method="post">

  {{!-- Need to print out the person's name using {{user.name}} or {{this.name}}?--}}
  <label for="nickname">Nickname</label>
  <input type="text" name="nickname" placeholder="Can be your well-known username or just smth that your friends call you~">

  <label for="about">About Me</label>
  <input type="text" name="about" placeholder="Tell us a little bit about yourself!">

  <label for="skills">Skills</label>
  <input type="text" name="skills" placeholder="C++, woodworking">

  <label for="projs">Past Projects and Gigs</label>
  <input type="text" name="projs" placeholder="anythings that you feel worth mentioning?">

  <label for="contact">Contact Me!</label>
  <input type="text" name="contact" placeholder="do share with us more details of the work!">

  <button type="submit" name="button">Submit</button>
</form>
