<h3>User Registration</h3>

<form action="/register" method="POST">
  <label for ="Email">E-mail</label>
  <input type="text" name="user[email]" placeholder="e.g. quotes@gmail.com">

  <label for="name">Name</label>
  <input type="text" name="user[name]" placeholder="larry">

  <label for="password">Password</label>
  <input type="password" name="user[password]" placeholder="your password">

  <button type="submit" name="button">Submit</button>
</form>
