<div class="container">
  <h3>Registration</h3>

  <form action="/register" method="post">
    <label for="name">Name</label>
    <input type="text" name="user[name]" placeholder="e.g. John Doe">

    <label for="email">Email</label>
    <input type="email" name="user[email]" placeholder="e.g. domain@email.com" class="validate">

    <label for="password">Password</label>
    <input type="password" name="user[password]" placeholder="min. 3 characters">

    <button type="submit" name="button" class="btn">Submit</button>
  </form>

</div>
