<h2>{{flash}}</h2>
<form action="/users" method="POST">
  <div class="signupForm">
    <label for="authEmail">Email</label>
    <input type="email" name="email">
  </div>

  <div class="signupForm">
    <label for="authName">Name</label>
    <input type="text" name="name">
  </div>

  <div class="signupForm">
    <label for="authPassword">Password</label>
    <input type="password" name="password">
  </div>

  <input class="signupForm" type="submit">
</form>
