<h3>Registration</h3>

<form action="/register" method="post">
  <label for="username">Username</label>
  <input type="username" name="user[username]" placeholder="e.g. John Doe">

  <label for="email">Email</label>
  <input type="email" name="user[email]" placeholder="e.g. domain@email.com">

  <label for="password">Password</label>
  <input type="password" name="user[password]" placeholder="min. 8 characters">

  <button type="submit" name="button">Submit</button>
</form>
