<h2> Less hassle, more rest </h2>
<h3> New user </h3>
<form action="/users/register" method="post">

<input type="hidden" name="user[type]" value="users">

  <label for="name">Name</label>
  <input type="text" name="user[name]" placeholder="How we address you">

  <label for="email">Email</label>
  {{!-- NOTICE on the attribute type below  --}}
  <input type="email" name="user[email]" placeholder="email@domain.com">

  <label for="password">Password</label>
  {{!-- NOTICE on the attribute type below  --}}
  <input type="password" name="user[password]" placeholder="min. 8 characters">

  <label for="mobile">Mobile (+65)</label>
  {{!-- NOTICE on the attribute type below  --}}
  <input type="tel" name="user[mobile]" placeholder="Let's get in touch">

  <button type="submit" name="button">Register</button>
</form>
