<h3>User Registration</h3>

<form action="/register" method="POST">
  <label for="email">E-mail</label>
  <input id="email" type="text" name="user[email]" placeholder="e.g. quotes@gmail.com">

  <label for="name">Name</label>
  <input id="name" type="text" name="user[name]" placeholder="larry">

  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]" placeholder="your password">
  <br />
    <br />

  <label for="subscribe">Receive an email every morning</label>
  <input id="subscribe" type="checkbox" name="user[subscribeQuote]" value="true">

  <button type="submit" name="button">Submit</button>
</form>
