<strong>Registration</strong>

<form action="/register" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="e.g. Ebere Iweala">

  <label for="email">Email</label>

  <input type="email" name="email" placeholder="e.g. ebereiweala@gmail.com">

  <label for="password">Password</label>

  <input type="password" name="password" placeholder="">

  <button type="submit" name="button">Submit</button>
</form>
