{{!-- Reset Password --}}          

<form method="post" action="/users/reset">
    <section id="reset">
        <h3>Reset Password</h3>
            <p>Enter your email address to receive email to reset password.</p>
                <div class="input-group form-group-no-border input-lg">
                <span class="input-group-addon"></span>
            <input class="inputbox" type="email" id="email" placeholder="Email Address...">
        </div>
    </section>

    <br/>
    <button class="button outline" data-component="modal" data-target="#my-modal">Reset Password</button>

        <div id="my-modal" class="modal-box hide">
            <div class="modal">
                <span class="close"></span>
                <div class="modal-header">Modal Header</div>
                <div class="modal-body">...</div>
            </div>
        </div>
</form>


{{!-- <p>We have emailed you a link to reset your password.</p> --}}