{{!-- Search Form --}}

<form method="post" action="/search" class="search-sect">
    <div class="search-item">
        <input type="text" name="breed" class="search-sect" placeholder="Search for Breed">
    </div>
    <button type="submit" class="button secondary">Submit</button>
</form>
