{{!-- Welcome --}}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  .mySlides {
    display: none;
  }
</style>


<div id="wrapper">
    <header>
            <section>
                <ul class="icons" id="social-icons">
                    <a href="/" class="logone"><b>DoAP</b></a>

                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://twitter.com" class="fa fa-twitter"></a>
                    <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
                    <a href="https://www.instagram.com" class="fa fa-instagram"></a>

                    <nav id="breadcrumbs-custom-separator" class="breadcrumbs">
                        <ul class="floatright">

                            <li><a href="/">Home</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">Sign Up</a></li>
                            <li class="current"><a href="/welcome">Welcome</a></li>
                            <li><a href="/new">Dogs</a></li>
                            <li><a href="/report">Report</a></li>
                            <li><a href="/logout">Logout</a></li>

                            <div class="search">
                            <a href="/search"><i class="fa fa-search"></i></a>
                          </div>
                        </ul>
                    </nav>
                </ul>
            </section>
        </header>
    </div>



<div class="container" id="item-content">
    <h4>Welcome – Manage your Dogs</h4>
      <div class="dog_list">
        {{#each allDogs}}

        </div>

          <div class="container-photo">
              <div class="w3-card-4" style="width:50%">
                <h3>{{this.name}}</h3>
                   <img src="/img/chihuahua.png" style="width:100%">

                {{!-- <input type="submit" name="edit_submit" value="Edit"> --}}
                <a href="/editform/{{this.id}}">Edit</a>

                  <form method="post" action="/delete/{{_id}}?_method=DELETE">
                    <input type="submit" name="delete" value="Delete">
                  </form>

              </div>
          </div>
        </div>
       {{/each}}
