{{!-- Welcome --}}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  .mySlides {
    display: none;
  }
</style>

 <section id="members" class="grid">
    <h3>Featured Dogs</h3>
      <ul>
        <li>
          <div class="card">
            <img src="/img/dog-flower.png">
            <div class="card-content">
              <h3 class="card-title">Doe</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <button type="submit" id="contact-btn"><i class="fa fa-envelope"></i>Contact</button>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="/img/dog-black.png" width: 100%>
            <div class="card-content">
              <h3 class="card-title">Sain</h3>
              <p>Nostrum culpa neque quo eum et maiores exercitationem.</p>
              <button type="submit" id="contact-btn"><i class="fa fa-envelope"></i>Contact</button>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="/img/dogs-three.png">
            <div class="card-content">
              <h3 class="card-title">Ront</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

             
                <div class="col col-8 push-middle push-center">
                     <button type="submit" id="contact-btn"><i class="fa fa-envelope"></i>Contact</button>
                </div>

             
            </div>
          </div>
        </li>
      </ul>
 </section>


  
 