<h3>New Gig</h3>

<form action="/new-gig" method="post">
  <label for="gigName">Name</label>
  <input type="text" name="name" placeholder="Prototype a Thingy">

  <label for="gigDescription">Cuisine</label>
  <input type="text" name="description" placeholder="e.g. Artisanal Teh Peng">

  <button type="submit" name="button">Submit</button>
</form>
