<body>
  <section class="section">
    <div class="container">
      <h1 class="title">Hello

      {{#if user }}
        {{user.username}},
        {{/if}}
        {{#unless user}}
          kawan,
        {{/unless}}
      </h1>
      <h2 class="subtitle">
        {{#if user}}
          <form id="carparkSearch" action="/" method="post">
            <label class="label">where are you driving to?</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="CHIONG AH!" name="keyword" id="keyword">
              <span class="icon is-small is-left">
                <i class="fa fa-car"></i>
              </span>
            </div>
            <div class="field">
              <p class="control">
                <button class="button is-dark is-small">
                  PARK WHERE SIA!?
                </button>
              </p>
            </div>
          </form>
        {{/if}}
        {{#unless user}}
          Please log in/ sign up with us to use this feature!
        {{/unless}}
      </h2>
    </div>
  </section>
</body>
{{#if user}}
  <div id="map"></div>

{{/if}}
