
<div class='container-fluid full-height event-index flex'>

  <div class='col-md-4 text-center'>

    <h1>Kakis</h1><br>
    <p>Find your strength, find your passion, find your kakis</p>

    <% include ../partials/searchbar %>
  <% include ../partials/alerts %>
</div>
</div>


<section class='container-fluid h95-vh' id='newevents'>
  <% include ./newevents %>
</section>
