
<div class="container">
  <% include ../partials/alerts %>
  <div class='col-md-12  align-middle'>
    <form action="/event/new" method="POST">
      <div class="form-group">
        <!-- <label for="eventName">Name</label> -->
        <input id="eventName" class="form-control form-control-lg bottom-border" type="string" name="name" placeholder="Event Name">
      </div>

      <div class="form-group col-md-6">
        <label for="eventStartDate">Start Date</label>
        <input id="eventStartDate" class="form-control" type="datetime-local"  name="startDate" value='2011-12-21T11:33:23Z'>

      </div>

      <div class="form-group col-md-6">
        <label for="eventEndDate">End Date</label>
        <input id="eventEndDate" class="form-control" type="datetime-local" name="endDate">
      </div>

      <div class="form-group">
        <!-- <label for="eventLocation">Location</label> -->
        <input id="eventLocation" class="form-control" type="string" name="location" placeholder="Location">
      </div>

      <div class="form-group">
        <!-- <label for="eventLocation">Location</label> -->
        <textarea id="descriptionInput" class="form-control" type="string" rows="10"  name="description" placeholder="Description"></textarea>
      </div>

      <div class="form-group flex">
        <input class="btn btn-primary" type="submit">
      </div>

    </form>
  <a class="flex" href="/event"><button class="btn btn-danger">Cancel</button></a>
  </div>
</div>
