<div class='container'>

  <h1>Search Results for <strong><%= searchItem%></strong></h1>

  <div class='container'>
    <% if (events.length <= 0) { %>
      <p> Sorry. We are unable to locate any events under this catagory. </p>
    <% } else {%>
      <% events.forEach((event)=>{ %>
         <a href='/event/<%=event._id%>'>
           <p><%= event.name%></p>
         </a>
      <%})%>
    <% }%>
  </div>



</div>
