<h2>{{flash}}</h2>
<form id="createTrip" action="/trips" method="POST">
  <div class="tripCreateForm">
    <label for="name">Name</label>
    <input type="name" name="name">
  </div>
  <div class="tripCreateForm">
    <label for="startDate">Start Date</label>
    <input type="date" name="startDate">
  </div>
  <div class="tripCreateForm">
    <label for="endDate">End Date</label>
    <input type="date" name="endDate">
  </div>
  <input class="tripCreateForm" type="submit">
</form>
