
<h2 class="text-info ml-1">Add new pattern</h2>

<form  enctype="multipart/form-data" action="/pattern/new" method="post">

  <div class="row ml-1 mb-3">
    <div class="form-group col-md-6 card border-info card-header card-body text-info" style="max-width: 30rem">

      <div class="">
        <label class="card-title" for="image">Add Image :</label>
        <input class="card-title" type="file" name="image">

      </div>
    </div>
    <div class="form-group col-md-5 border-info">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label text-info" for="title">Title: </label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="pattern[title]" placeholder="Basic Drawstring Bag">

        </div>

      </div>
      <div class="form-group row">

        <label class="col-sm-3 col-form-label text-info" for="category">Category: </label>
        <div class="col-sm-9">
          <select  class="form-control" name="pattern[category]">
            <option value="woodcraft">Woodcraft</option>
            <option value="papercraft">Papercraft</option>
            <option value="sewing">Sewing</option>
            <option value="knitting">Knitting</option>
          </select>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="form-group col-md-5">
      <label class="text-info" for="material">Material: </label>
      <textarea class="form-control border-info"  rows="10" name="pattern[material]"></textarea>
    </div>
    <div class="form-group col-md-7">
      <label class="text-info" for="steps">Steps: </label>
      <textarea class="form-control border-info" rows="10" name="pattern[steps]"></textarea>
    </div>
  </div>





  <button class="btn btn-info" type="submit" name="button">Submit</button>
</form>
