
<h3>Add new pattern</h3>

<form  enctype="multipart/form-data" action="/pattern/new" method="post">
  <div class="">
    <label for="title">Title</label>
    <input type="text" name="pattern[title]" placeholder="Basic Drawstring Bag">
    <select name="pattern[category]">
      <option value="woodcraft">Woodcraft</option>
      <option value="papercraft">Papercraft</option>
      <option value="sewing">Sewing</option>
      <option value="knitting">Knitting</option>
    </select>
  </div>
  <div class="">
    <label for="material">Material</label>
    <textarea name="pattern[material]" rows="10" cols="20"></textarea>
  </div>
  <div class="">
    <label for="steps">Steps</label>
    <textarea name="pattern[steps]" rows="10" cols="40"></textarea>
  </div>

  <label for="image">Image :</label>
  <input class="btn btn-outline-info" type="file" name="image">




  <button class="btn btn-info" type="submit" name="button">Submit</button>
</form>
