
<h3>Add new variation</h3>

<form enctype="multipart/form-data" action="/pattern/{{pattern.id}}/variation/new" method="post">
  <div class="">
    <label for="title">Title</label>
    <input type="text" name="project[title]" placeholder="">
  </div>
  <div class="">
    <label for="material">Material</label>
    <textarea name="project[material]" rows="10" cols="20"></textarea>
    <label for="reflection">Reflection</label>
    <textarea name="project[reflection]" rows="10" cols="40"></textarea>
  </div>

  <label for="image">Image :</label>
  <input type="file" name="image">


  {{#if hasBookmark}}
  <div class="">
    <input type="radio" name="removeBookmark" value="no" checked> Do not remove bookmark<br>
    <input type="radio" name="removeBookmark" value="yes"> Remove Bookmark<br>    
  </div>
  {{/if}}

  <button type="submit" name="button">Submit</button>
</form>




{{!-- <form class="removeBookmarkForm" action="/pattern/{{pattern.id}}/variation/new?_method=PUT" method="post">
  <button type="submit" name="button">Remove Bookmark</button>
  <input type="hidden" name="patternId" value="{{pattern.id}}">
</form> --}}
