
<h3>Add new variation</h3>

<form action="/pattern/{{pattern.id}}/variation/new" method="post">
  <div class="">
    <label for="title">Title</label>
    <input type="text" name="project[title]" placeholder="">
  </div>
  <div class="">
    <label for="material">Material</label>
    <textarea name="project[material]" rows="10" cols="20"></textarea>
    <label for="reflection">Reflection</label>
    <textarea name="project[reflection]" rows="10" cols="40"></textarea>
  </div>




  <button type="submit" name="button">Submit</button>
</form>
