
<h2 class="text-info ml-1">Add new Variation</h2>

<form enctype="multipart/form-data" action="/pattern/{{pattern.id}}/variation/new" method="post">
  <div class="row mb-2 ml-1">
    <div class="form-group col-md-6 card border-info card-header text-info" style="max-width: 30rem">

      <div class="">
        <label class="card-title" for="image">Add Image :</label>
        <input class="card-title" type="file" name="image">
      </div>
    </div>
    <div class="form-group col-md-5 border-info">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label text-info" for="title">Title: </label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="project[title]" placeholder="{{pattern.title}} (your name)">
        </div>
      </div>
    </div>

  </div>
  <div class="row mb-2">
    <div class="form-group col-md-5">
      <label class="text-info" for="material">Material:</label>
      <textarea class="form-control border-info"name="project[material]" rows="10" ></textarea>

    </div>
    <div class="form-group col-md-7">
      <label class="text-info" for="reflection">Reflection:</label>
      <textarea class="form-control border-info" name="project[reflection]" rows="10" ></textarea>

    </div>
  </div>

  <div class="mb-2">

    {{#if hasBookmark}}
    <div class="btn-group" data-toggle="buttons">

      <label class="btn btn-info btn-sm active border-white border-top-0 border-left-0 border-bottom-0">
        <input class="form-check-input " type="radio" name="removeBookmark" value="no" checked> Do not remove bookmark
      </label>


      <label class="btn btn-info btn-sm border-white border-top-0 border-right-0 border-bottom-0">
        <input class="form-check-input" type="radio" name="removeBookmark" value="yes"> Remove Bookmark
      </label>

    </div>
    {{/if}}
  </div>



  <button class="btn btn-info" type="submit" name="button">Submit</button>
</form>




{{!-- <form class="removeBookmarkForm" action="/pattern/{{pattern.id}}/variation/new?_method=PUT" method="post">
  <button type="submit" name="button">Remove Bookmark</button>
  <input type="hidden" name="patternId" value="{{pattern.id}}">
</form> --}}
