<div class="row">
  {{#each data}}
    <div class="col s6">
      <div class="card">
        <div class="card-image">
          <img height="auto" width="auto" src= {{ this.pictureurl1 }}>
        </div>
        <div class="card-action">
          <a href="/show/tourdetails/{{this.slug}}">{{ this.name }}</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
