<h2>Register Customers</h2>
<br><br>

<form action="/customers/new" method="post">

  <label for="firstName">First Name</label><br>
  <input type="text" name="firstName" value="" placeholder="First Name">
  <br><br><br>

  <label for="lastName">First Name</label><br>
  <input type="text" name="lastName" value="" placeholder="Last Name">
  <br><br><br>

  <label for="roomNumber">Price</label><br>
  <input type="text" name="roomNumber" value="" placeholder="01">
  <br><br><br>

  <label for="passcode">4-digit Passcode</label><br>
  <input type="text" name="passcode" value="" placeholder="1234">
  <br><br><br>


  <label for="tripStart">Trip Start Date</label><br>
  <input type="date" name="tripStart" value="">
  <br><br><br>

  <label for="tripEnd">Trip End Date</label><br>
  <input type="date" name="tripEnd" value="">
  <br><br><br>

<!-- Still have to input all the items purchased and total price when viewing customers  -->

  <input type="submit" name="submit"/>
</form>
