<div class="page-header">
	<div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/wallpaper1.jpg');"></div>
	<br><br>
	<div class="container">
		<div class="col-md-4 content-center">
			<div class="row">

				<div class="card-login" filter-color="orange">
					<h1 class="title text-center">Login</h1>
					<div class="card-plain">

						<form action="/login" method="post">

							<label for="type">Please Select admin/customer :</label>
							<select name="user[type]">
            <option value="customer">Customer</option>
            <option value="admin">Admin</option>
          </select>
							<br>

							<label for="lblEmail">Email :</label>
							<div class="text-center">
								<input type="email" class="form-control" name="user[txtEmail]" placeholder="e.g. domain@email.com">
							</div>
							<br/>

							<label for="lblPassword">Password :</label>
							<div class="text-center">
								<input type="password" class="form-control" name="user[txtPassword]" placeholder="eg. minimum 8 characters">
							</div>
							<br/>
							<div class="text-center">
								<button type="submit" class="btn bg-warning" name="btnSubmit">Submit</button>
							</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
