<h1>Register</h1>

<form action="/register" method="post">
  <label for="lblName">Name :</label>
  <input type="text" name="customers[txtName]">
  <br/>

  <label for="lblEmail">Email :</label>
  <input type="text" name="customer[txtEmail]">
  <br/>

  <label for="lblPassword">Password :</label>
  <input type="password" name="customer[txtPassword]">
  <br/>

  <button type="submit" name="btnSubmit">Submit</button>
</form>
